@import '{}/imports/client/ui/config'
@import '{}/imports/client/ui/colors'
@import '{}/imports/client/ui/responsive'

.cw--MenuArtifacts
  flex-wrap wrap
  padding 0 20px
  +media(null, $cw--size_xs)
    flex-direction column
    align-items center

  &__itemCount
    position absolute
    display flex
    align-items center
    justify-content center
    box-sizing border-box
    top 6px
    left 0
    padding 5px
    cw--fontFamily_cond()
    font-size $cw--fontSize_l
    text-align right
    color $cw--color_white
    background linear-gradient(to right, $cw--color_black 0%, alpha($cw--color_black, 0) 60%)

    &_progress
      top 6px
      left 0
      width auto
      border-radius 0
  
  &__group
    flex-wrap nowrap
    +media(null, $cw--size_xs)
      width 100%

  &__item
    width 80px
    height @width
    +media($cw--size_xl, $cw--size_xxl)
      width 70px
      height @width
    +media($cw--size_xs, $cw--size_s)
      width 65px
      height @width
    +media(null, $cw--size_xs)
      flex-basis 19%
      margin 2px 1%

  &__itemIcon
    filter grayscale(0)