artefacts-icon(group, name, color)
	.{name}
		background-image url("/img/artefacts/" group "/i/" name ".png")
		color color

artefacts-icon('green', 'secret_technology', #00ff00)
artefacts-icon('green', 'rotary_amplifier', #00ff00)
artefacts-icon('green', 'reptile_technology', #00ff00)
artefacts-icon('green', 'emerald_plasmoid', #00ff00)
artefacts-icon('green', 'batteries', #00ff00)

artefacts-icon('purple', 'nicolascagium', #9966CC)
artefacts-icon('purple', 'keanureevesium', #9966CC)
artefacts-icon('purple', 'jimcarrium', #9966CC)
artefacts-icon('purple', 'garyoldmanium', #9966CC)
artefacts-icon('purple', 'amethyst_plasmoid', #9966CC)

artefacts-icon('orange', 'topaz_plasmoid', #FFCC00)
artefacts-icon('orange', 'ancient_technology', #FFCC00)
artefacts-icon('orange', 'ancient_scheme', #FFCC00)
artefacts-icon('orange', 'ancient_knowledge', #FFCC00)
artefacts-icon('orange', 'ancient_artefact', #FFCC00)

artefacts-icon('blue', 'sapphire_plasmoid', #5555FF)
artefacts-icon('blue', 'quad_cooler', #5555FF)
artefacts-icon('blue', 'plasma_transistors', #5555FF)
artefacts-icon('blue', 'nanowires', #5555FF)
artefacts-icon('blue', 'chip', #5555FF)

artefacts-icon('white', 'weapon_parts', #FFFFFF)
artefacts-icon('white', 'silver_plasmoid', #FFFFFF)
artefacts-icon('white', 'ship_details', #FFFFFF)
artefacts-icon('white', 'meteor_fragments', #FFFFFF)
artefacts-icon('white', 'crystal_fragments', #FFFFFF)

artefacts-icon('red', 'ruby_plasmoid', #FF0000)