@import '{}/imports/client/ui/colors.styl'

.cw--ContainerRewardOpener
  &__title
    display flex
    box-sizing border-box
    height 40px
    padding 10px
    align-items center
    justify-content flex-start
    background-color $cw--color_black

    > .cw--ContainerRewardOpener__option
      margin 0 50px

  &__option
    display flex
    align-items center
    cursor pointer

  > .cw--ContainerRewardOpener__actions
    position absolute
    bottom 20px
    left 0

  &__actions
    display flex
    width 100%
    height 45px
    justify-content center
    align-items center
  
    > .cw--button
      margin 0 20px

  &__input
    width 80px
