artefacts-icon(group, name, color)
	.{name}
		background-image url("/img/artefacts/" group "/i/" name ".png")
		color color

artefacts-icon('green', 'secret_technology', #2cc24f)
artefacts-icon('green', 'rotary_amplifier', #2cc24f)
artefacts-icon('green', 'reptile_technology', #2cc24f)
artefacts-icon('green', 'emerald_plasmoid', #2cc24f)
artefacts-icon('green', 'batteries', #2cc24f)

artefacts-icon('purple', 'nicolascagium', #c256e1)
artefacts-icon('purple', 'keanureevesium', #c256e1)
artefacts-icon('purple', 'jimcarrium', #c256e1)
artefacts-icon('purple', 'garyoldmanium', #c256e1)
artefacts-icon('purple', 'amethyst_plasmoid', #c256e1)

artefacts-icon('orange', 'topaz_plasmoid', #e9a844)
artefacts-icon('orange', 'ancient_technology', #e9a844)
artefacts-icon('orange', 'ancient_scheme', #e9a844)
artefacts-icon('orange', 'ancient_knowledge', #e9a844)
artefacts-icon('orange', 'ancient_artefact', #e9a844)

artefacts-icon('blue', 'sapphire_plasmoid', #56baf2)
artefacts-icon('blue', 'quad_cooler', #56baf2)
artefacts-icon('blue', 'plasma_transistors', #56baf2)
artefacts-icon('blue', 'nanowires', #56baf2)
artefacts-icon('blue', 'chip', #56baf2)

artefacts-icon('white', 'weapon_parts', #ebebeb)
artefacts-icon('white', 'silver_plasmoid', #ebebeb)
artefacts-icon('white', 'ship_details', #ebebeb)
artefacts-icon('white', 'meteor_fragments', #ebebeb)
artefacts-icon('white', 'crystal_fragments', #ebebeb)

artefacts-icon('red', 'ruby_plasmoid', #d65f52)