.resources
	li
		width 50px
		margin auto 7.5px
		height 12px
		padding-top 38px
		background-repeat no-repeat
		background-position top center
		background-size 35px 35px
		text-align center
		vertical-align top
		font-size 12px
		font-weight bold
		
		a
			display block
			width 100%
			height 100%
	
		&.artefact
			background-size 65%
			&:hover
				-webkit-filter brightness(1.4)
				filter brightness(1.4)

	.humans
		background-image url(/img/game/humans.png)
		color #FFB74A
	.metals
		background-image url(/img/game/metals.png)
		color #66CCE2
	.crystals
		background-image url(/img/game/crystals.png)
		color #D36FFF
	.credits
		background-image url(/img/game/credits.png)
		color #C6E84C
		cursor pointer
		&:hover
			-webkit-filter brightness(1.4)
			filter brightness(1.4)
	
	.artefacts
		width 47px
		height 47px
		padding 0
		cursor pointer
		background-size 47px 47px
		background-image url(/img/game/artefacts.png)
		&:hover
			-webkit-filter brightness(1.4)
			filter brightness(1.4)

	.honor
		background-image url(/img/game/honor.png)
		color #FF7566
	.time
		width 100%
		height 20px
		padding 0
		margin 0
		color #aaa
		text-align left
		
		time
			color #fff
			
		+ li
			margin-left 0
	
	.button
		width 160px
		height 64px
		padding-top 0
		
	&.big
		li
			width 120px
			padding-top 70px

		.metals
			background-image url(/img/game/metals_big.png)
		.crystals
			background-image url(/img/game/crystals_big.png)
		.honor
			background-image url(/img/game/honor_big.png)

.content .overlay.planet.residential
	progress
		position absolute
		width 200px
		font-weight bold
		border 1px solid #3e4059
		background-color #000
		z-index 20
		cursor pointer
			
		&::-webkit-progress-bar
			background-color #000
			
		&[role][aria-valuenow]
			background-color #000
		
		&:before
			content attr(value) ' / ' attr(max)
			position absolute
			display block
			width 100%
			top -20px
			text-align center
			
		&.active:after
			content ''
			position absolute
			top -90px
			left 69px
			width 62px
			height 62px
			background-repeat no-repeat
			background-position center center
			background-color #000
			border-radius 32px
			border-width 2px
			border-style solid
		
		&.metals
			top 410px
			right 15px
			color #5697D7
		
			&::-moz-progress-bar 
				background-color #5697D7

			&::-webkit-progress-value
				background-color #5697D7
				
			&[aria-valuenow]:before
				background-color #5697D7
			
			&.active:after
				background-image url(/img/game/metals_bonus.png)
				border-color #5697D7
			
		&.crystals
			top 410px
			left 14px
			color #D7559B
			
		
			&::-moz-progress-bar 
				background-color #D7559B

			&::-webkit-progress-value
				background-color #D7559B
				
			&[aria-valuenow]:before
				background-color #D7559B
			
			&.active:after
				background-image url(/img/game/crystals_bonus.png)
				border-color #D7559B

.information
	>.resources
		position absolute
		bottom 10px
		left 370px
		
		.button:nth-child(6)
			margin-top 2px
			height 82px
			
			button
				margin 8px 0

		button
			padding 15px 10px
			margin 6px 0
		
	&.mutual
		.resources
			width 356px
			
			.credits
				margin-top 20px