@import '{}/imports/client/ui/colors.styl'

$cw--font-size_register = 16px

.cw--UserLogin
  display flex
  width 90%
  max-width 1200px !important
  background-color alpha($cw--color_black, .9)
  font-size $cw--font-size_register

  &__person
    flex 0 auto
    user-select none

  &__content
    flex 1 1 auto
    display flex
    flex-direction column
    box-sizing border-box
    padding 30px 50px 30px

  &__intro
    flex 0 auto
    color $cw--color_metal

  &__form
    flex 1 0 auto

  &__switch
    flex 0 auto
    color $cw--color_metal
  &__switchHead
    margin-bottom 10px


.cw--LoginForm

  &__title
    display block
    margin 30px 0 15px 
    font-weight bold
    color $cw--color_honor

  &__form
    display flex
    flex-direction row
    margin-bottom 10px

  &__inputs
    flex 0 404px
    display flex
    flex-direction row
    flex-wrap wrap
    height 74px
    margin-bottom -10px
  
  &__input
  &__remind
  &__remember
    box-sizing border-box
    flex 0 auto
    width 190px
    height 25px
    margin 0 10px 10px 0
  
  &__remind-link
    text-decoration none

  &__submit
    flex 0 auto
    width 42px
    padding 0
    background-image url(/img/arrow_login.svg)
    background-repeat no-repeat
    background-position center center

  &__info
    color $cw--color_metal
    margin-top 20px