@import '{}/imports/client/ui/config'
@import '{}/imports/client/ui/responsive'
@import '{}/imports/client/ui/colors'

.cw--UserLogin
  display flex
  width 900px
  background-color alpha($cw--color_black, .9)
  font-size $cw--fontSize_main

  &__person
    flex 0 auto
    user-select none

  &__content
    flex 1 1 auto
    display flex
    flex-direction column
    box-sizing border-box
    padding 30px 50px 30px

  &__intro
    flex 0 auto
    color $cw--color_metal

  &__form
    flex 1 0 auto

  &__switch
    flex 0 auto
    color $cw--color_metal
  &__switchHead
    margin-bottom 10px


.cw--LoginForm

  &__title
    display block
    margin 30px 0 15px 
    font-weight bold
    color $cw--color_honor
    font-size $cw--fontSize_smallHead

  &__form
    display flex
    flex-direction row
    margin-bottom 10px

  &__inputs
    flex-basis 300px
    flex-grow 0
    flex-shrink 0
    display flex
    flex-direction row
    height 62px
  
  &__inputsGroup
    display flex
    flex-direction column
    flex-basis auto
    justify-content space-between
    margin-right 12px
  
  &__input
  &__remind
  &__remember
    box-sizing border-box
    width 184px
    height 25px
    flex 0 auto
  
  &__remindLink
    text-decoration none

  &__submit
    flex 0 auto
    width 42px
    padding 0
    background-image url(/img/arrow_login.svg)
    background-repeat no-repeat
    background-position center center

  &__info
    color $cw--color_metal
    margin-top 20px