@import '{}/imports/client/ui/colors'
@import '{}/imports/client/ui/config'

.cw--ModalConfirm
  &__message
    display flex
    align-items center
    width 100%
    min-height 38px
    margin 15px 0
    color $cw--color_description

  &__actions
    justify-content space-between

  &__action
    width 120px