.side_menu
	side-icon('research')

.description, .small_description
	.requirements
		requirements-icon('mutual', 'research', 'reccons')
		requirements-icon('mutual', 'research', 'training')
		requirements-icon('mutual', 'research', 'lubricant')
		requirements-icon('mutual', 'research', 'psieffect')
		requirements-icon('mutual', 'research', 'weapons')
		requirements-icon('mutual', 'research', 'defense')
		requirements-icon('mutual', 'research', 'viagra')
		requirements-icon('mutual', 'research', 'dickcharge')
		requirements-icon('mutual', 'research', 'flash')
		requirements-icon('mutual', 'research', 'unity')

.items li
	bottom-icon('mutual', 'research', 'reccons')
	bottom-icon('mutual', 'research', 'training')
	bottom-icon('mutual', 'research', 'lubricant')
	bottom-icon('mutual', 'research', 'psieffect')
	bottom-icon('mutual', 'research', 'weapons')
	bottom-icon('mutual', 'research', 'defense')
	bottom-icon('mutual', 'research', 'viagra')
	bottom-icon('mutual', 'research', 'dickcharge')
	bottom-icon('mutual', 'research', 'flash')
	bottom-icon('mutual', 'research', 'unity')