.house
	
	button
		cursor pointer
		position absolute
		bottom 15px
		left 500px
		font-size 16px
		text-align center
		padding-top 20px
		padding-bottom 20px
		width 180px
		background-color #000000
		
	.buy
		border 2px solid #91b935
		color #91b935
		
	.place
		border 2px solid #C3882A
		color #EBA742

	.remove
		border 2px solid #D15D50
		color #D15D50

	.profit
		padding-top 20px
		font-size 16px
		font-weight bold
		color #EBA742
	

.consul-items
	display block
	overflow-x hidden
	overflow-y scroll
	position relative
	float right
	margin-top -20px
	margin-right -20px
	margin-left 10px
	width 638px
	height 428px
	background-color #090E14

	li
		display inline-block
		width 115px
		height 165px
		margin-left 4px
		margin-bottom 4px

	a
		cursor pointer
		display block
		border 3px solid #1A3552
		border-radius 3px
		width 100%
		height 100%
		background-color #000000
		background-repeat no-repeat
		
		&:hover
			border 3px solid #3EB4F1
			
	.active
		border 3px solid #C3882A
		
		&:hover
			border 3px solid #D59B3C
			
	.placed
		border 3px solid #FFFFFF
		
		&:hover
			border 3px solid #FFFFFF
			
	.new:after
		content ""
		display block
		width 100%
		height 95%
		background-position center bottom
		background-repeat no-repeat		
		background-image url(/img/game/house/ico_new.png)
	
	.has:after
		content ""
		display block
		width 100%
		height 95%
		background-position center bottom
		background-repeat no-repeat		
		background-image url(/img/game/house/ico_has.png)
		

.tron-icon
	background-image url("/img/game/house/tron/icon.png")
	
.tron-consul-icon
	background-image url("/img/game/house/tron/consul.png")
	
.tron-gameofthrones-icon
	background-image url("/img/game/house/tron/gameofthrones.png")
	
.tron-czar-icon
	background-image url("/img/game/house/tron/czar.png")