@import '{}/imports/client/ui/colors.styl'

.cw--License
  width 900px
  background-color alpha($cw--color_black, .9)
  padding 20px
  box-sizing border-box
  height 530px
  display flex
  flex-direction column
  
  &__head
    display block
    font-size 22px
    margin-bottom 15px

  &__content
    display flex
    flex-grow 1
  
  &__frame
    width 100%
    background-color $cw--color_nearWhite
    box-sizing border-box
    border none

  &__close
    background $cw--color_science
    padding 10px
    width 100px
    margin 10px auto auto
    text-align center
    text-decoration none