.overlay_wrap 
  > .overlay.Residential
    background-image url(/img/game/Building/Residential/back.jpg)
    
  > .overlay.Military
    background-image url(/img/game/Building/Military/back.jpg)

.requirements
  .building
    color #DF8642


@import '{}/moduls/building/special/market/client/market.styl'
@import '{}/moduls/building/special/pulsecatcher/client/pulsecatcher.styl'