.side_menu
	side-icon('residential')
	side-icon('military')
	side-icon('house')

.content
	.overlay.planet
		&.residential
			background-image url(/img/game/building/residential/back.jpg)
		
		&.military
			background-image url(/img/game/building/military/back.jpg)
			
			overlay-image('building', 'military', 'orbital',    149,  16,   1)
			overlay-image('building', 'military', 'gates',      413, 149,   2)
			overlay-image('building', 'military', 'laboratory', 334,  82,   3)
			overlay-image('building', 'military', 'shipyard',   0,   172,   4)
			overlay-image('building', 'military', 'void',       397,  65,   5)
			overlay-image('building', 'military', 'psi',        730,  64,   6)
			overlay-image('building', 'military', 'airfield',   131,  80,   7)
			overlay-image('building', 'military', 'barracks',   126, 283,   8)
			overlay-image('building', 'military', 'complex',    0,    81,   9)
			overlay-image('building', 'military', 'factory',    605, 237,  10)

.description, .small_description
	.requirements
		.building
			color #DF8642
					
		requirements-icon('building', 'residential', 'house')
		requirements-icon('building', 'residential', 'metal')
		requirements-icon('building', 'residential', 'crystal')
		requirements-icon('building', 'residential', 'spaceport')
		requirements-icon('building', 'residential', 'entertainment')
		requirements-icon('building', 'residential', 'alliance')
		requirements-icon('building', 'residential', 'tradingport')
		requirements-icon('building', 'residential', 'pulsecatcher')
		requirements-icon('building', 'residential', 'statue')
		requirements-icon('building', 'residential', 'colosseum')
		requirements-icon('building', 'residential', 'political')
		requirements-icon('building', 'residential', 'blackmarket')

		requirements-icon-notimplemented('building', 'military', 'powerstation')
		requirements-icon('building', 'military', 'laboratory')
		requirements-icon('building', 'military', 'barracks')
		requirements-icon('building', 'military', 'factory')
		requirements-icon('building', 'military', 'airfield')
		requirements-icon('building', 'military', 'shipyard')
		requirements-icon-notimplemented('building', 'military', 'defensecomplex')
		requirements-icon-notimplemented('building', 'military', 'storage')
		requirements-icon('building', 'military', 'gates')
		requirements-icon('building', 'military', 'void')
		requirements-icon('building', 'military', 'complex')
		requirements-icon-notimplemented('building', 'military', 'oscd')
		
.items li
	bottom-icon('building', 'residential', 'house')
	bottom-icon('building', 'residential', 'metal')
	bottom-icon('building', 'residential', 'crystal')
	bottom-icon('building', 'residential', 'spaceport')
	bottom-icon('building', 'residential', 'entertainment')
	bottom-icon('building', 'residential', 'alliance')
	bottom-icon('building', 'residential', 'tradingport')
	bottom-icon('building', 'residential', 'pulsecatcher')
	bottom-icon('building', 'residential', 'statue')
	bottom-icon('building', 'residential', 'colosseum')
	bottom-icon('building', 'residential', 'political')
	bottom-icon('building', 'residential', 'blackmarket')

	bottom-icon-notimplemented('building', 'military', 'powerstation')
	bottom-icon('building', 'military', 'laboratory')
	bottom-icon('building', 'military', 'barracks')
	bottom-icon('building', 'military', 'factory')
	bottom-icon('building', 'military', 'airfield')
	bottom-icon('building', 'military', 'shipyard')
	bottom-icon-notimplemented('building', 'military', 'defensecomplex')
	bottom-icon-notimplemented('building', 'military', 'storage')
	bottom-icon('building', 'military', 'gates')
	bottom-icon('building', 'military', 'void')
	bottom-icon('building', 'military', 'complex')
	bottom-icon-notimplemented('building', 'military', 'oscd')