.overlay_wrap 
  > .overlay.residential
    background-image url(/img/game/building/residential/back.jpg)
    
  > .overlay.military
    background-image url(/img/game/building/military/back.jpg)

.requirements
  .building
    color #DF8642
        
  requirements-icon('building', 'residential', 'house')
  requirements-icon('building', 'residential', 'metal')
  requirements-icon('building', 'residential', 'crystal')
  requirements-icon('building', 'residential', 'spaceport')
  requirements-icon('building', 'residential', 'entertainment')
  requirements-icon('building', 'residential', 'alliance')
  requirements-icon('building', 'residential', 'tradingport')
  requirements-icon('building', 'residential', 'pulsecatcher')
  requirements-icon('building', 'residential', 'statue')
  requirements-icon('building', 'residential', 'colosseum')
  requirements-icon('building', 'residential', 'political')
  requirements-icon('building', 'residential', 'blackmarket')

  requirements-icon('building', 'military', 'powerstation')
  requirements-icon('building', 'military', 'laboratory')
  requirements-icon('building', 'military', 'barracks')
  requirements-icon('building', 'military', 'factory')
  requirements-icon('building', 'military', 'airfield')
  requirements-icon('building', 'military', 'shipyard')
  requirements-icon('building', 'military', 'defensecomplex')
  requirements-icon('building', 'military', 'storage')
  requirements-icon('building', 'military', 'gates')
  requirements-icon('building', 'military', 'void')
  requirements-icon('building', 'military', 'complex')
  requirements-icon('building', 'military', 'oscd')
    
.items li
  bottom-icon('building', 'residential', 'house')
  bottom-icon('building', 'residential', 'metal')
  bottom-icon('building', 'residential', 'crystal')
  bottom-icon('building', 'residential', 'spaceport')
  bottom-icon('building', 'residential', 'entertainment')
  bottom-icon('building', 'residential', 'alliance')
  bottom-icon('building', 'residential', 'tradingport')
  bottom-icon('building', 'residential', 'pulsecatcher')
  bottom-icon('building', 'residential', 'statue')
  bottom-icon('building', 'residential', 'colosseum')
  bottom-icon('building', 'residential', 'political')
  bottom-icon('building', 'residential', 'blackmarket')

  bottom-icon('building', 'military', 'powerstation')
  bottom-icon('building', 'military', 'laboratory')
  bottom-icon('building', 'military', 'barracks')
  bottom-icon('building', 'military', 'factory')
  bottom-icon('building', 'military', 'airfield')
  bottom-icon('building', 'military', 'shipyard')
  bottom-icon('building', 'military', 'defensecomplex')
  bottom-icon('building', 'military', 'storage')
  bottom-icon('building', 'military', 'gates')
  bottom-icon('building', 'military', 'void')
  bottom-icon('building', 'military', 'complex')
  bottom-icon('building', 'military', 'oscd')

@import '{}/moduls/building/special/colosseum/client/colosseum.styl'
@import '{}/moduls/building/special/container/client/container.styl'
@import '{}/moduls/building/special/market/client/market.styl'
@import '{}/moduls/building/special/pulsecatcher/client/pulsecatcher.styl'