@import '{}/imports/client/ui/colors'
@import '{}/imports/client/ui/config'

.cw--EarthConsulArmy
  position relative
  display block
  width 360px
  box-sizing border-box
  padding 10px 16px 16px
  background-color $cw--color_tableEven

  &__header
    margin-bottom 20px

  &__consulName
    color $cw--color_metal
