{
	"public": {
		"yandex": {
			"id": 123
		},
		"mapbox": {
			"id": "***",
			"accessToken": "***"
		},
		"cosmos": {
			"speedConfig": [ 0, 0.5, 1.5, 3, 6, 12, 24, 35, 44, 54, 80, 100 ],
			"minSpeed": 3,
			"maxSpeed": 80,
			"minAcc": 0.4,
			"maxAcc": 2,
			"speedFactor": 0.016666,
			"collectArtefactsPeriod": 120
		}
	},
	"kadira": { 
		"appId": "***", 
		"appSecret": "***" 
	},
	"mail": {
		"protocol": "smtp",
		"username": "***",
		"password": "***",
		"server":   "smtp.gmail.com",
		"port": 25,
		"from": "*** <***@***>",
		"sitename": "***"
	},
	"earth": {
		"reinforcementsDelay": 120,
		"minActivePlayers": 100
	},
	"cosmos": {
		"enemyRespawnPeriod": 120,
		"attackPlayerPeriod": 120
	}
}