{
	"public": {
		"yandex": {
			"id": 123
		},
		"mapbox": {
			"id": "***",
			"accessToken": "***"
		}
	},
	"kadira": { 
		"appId": "***", 
		"appSecret": "***" 
	},
	"mail": {
		"protocol": "smtp",
		"username": "***",
		"password": "***",
		"server":   "smtp.gmail.com",
		"port": 25,
		"from": "*** <***@***>",
		"sitename": "***"
	},
	"earth": {
		"reinforcementsDelay": 120,
		"minActivePlayers": 100
	},
	"cosmos": {
		"enemyRespawnPeriod": 120,
		"attackPlayerPeriod": 120,
		"collectArtefactsPeriod": 120
	}
}