@import '{}/imports/client/ui/colors'
@import '{}/imports/client/ui/config'
@import '{}/imports/client/ui/responsive'

.cw--PaymentHistory
  display flex
  flex-direction column
  width 960px
  height 570px
  max-width 100%
  max-height 100%
  background-color $cw--color_black

  &__data
    position relative
    flex-basis auto
    flex-grow 1
    background-color $cw--color_tableOdd

  &__table
    width 100%
    font-size $cw--fontSize_m
    border-collapse collapse
    color $cw--color_nearWhite

  &__head
    flex-grow 0
    color $cw--color_lightGrey

  &__tableHead
  &__tableTime
  &__tableProfit
  &__tableDescription
    padding 10px 16px
    text-align left
    font-weight normal
    box-sizing border-box

  &__th
    padding 12px 16px

  &__tableTime
    width 170px

  &__tableDescription
    width 50%


  &__row
    vertical-align top

    &:hover
      filter brightness(1.2)

    &_odd
      background-color $cw--color_tableOdd

    &_even
      background-color $cw--color_tableEven

  &__footer
    display flex
    flex-shrink 0
    padding 10px
    height 40px
    justify-content space-between

  &__paging
    margin auto