$iconRatio = 75%
.cw--Artefact
  &_icon
    cursor pointer
    background-repeat no-repeat
    background-size $iconRatio
    background-position center top
    text-align center
    &::before
      content ''
      display block
      width $iconRatio
      margin 0 auto
      padding-top @width
      padding-bottom 3px