.content
	.settings:not(.overlay)
		position relative
		padding 0px
		z-index 2
		height 100%
		background-color #101217

		input[type="text"], input[type="password"] 
			padding 10px 7px
			border 2px solid #006382
			background-color #C0C0C0
			border-radius 5px
			box-shadow inset 2px 2px 2px #000
			color #000000
			font-weight bold
			font-size 14px

		.cross, .check, .verify
			width 30px
			height 30px
			display inline-block
			background-repeat no-repeat
			background-position center

		.cross
			background-image url(/img/game/cross.png)

		.check
			background-image url(/img/game/check.png)

		.verify
			background-image url(/img/game/message.png)

		.changePassword
			width 300px
			background-color #13161b

			label
				display block

			.title
				display block
				color #56baf2
				font-weight bold
				font-size 14px
