.content
	.settings:not(.overlay)
		position relative
		padding 0px
		z-index 2
		height 100%
		background-color #101217
		display flex

		button
			cursor pointer
			display block
			font-weight bold
			text-align center
			text-transform uppercase
			font-size 14px
			padding 0 15px
			height 38px
			color #ffffff
			background-image url(/img/game/settings/accept.png)
			background-size 100% 100%
			border 0px solid transparent
			border-radius 5px
			background-repeat no-repeat

			&:hover:not(.disabled)
				-webkit-filter brightness(1.4)
				filter brightness(1.4)

			&.disabled
				-webkit-filter grayscale(1)
				filter grayscale(1)


		label
			display block


		.checkBlock
			margin-top 20px

		.hint
			margin-bottom 20px
			color #88a23f
			display block

		.title
			display block
			color #56baf2
			font-weight bold
			font-size 14px
			margin-bottom 10px

		.checkboxTitle
			color #56baf2
			font-weight bold
			font-size 14px
			margin-bottom 10px

		h2
			font-size 14px
			color #e9a844
			margin-bottom 10px

		input[type="text"], input[type="password"] 
			padding 10px 7px
			border 2px solid #006382
			background-color #C0C0C0
			border-radius 5px
			box-shadow inset 2px 2px 2px #000
			color #000000
			font-weight bold
			font-size 14px
			margin-bottom 10px

		.cross, .check
			width 30px
			height 30px
			display inline-block
			background-repeat no-repeat
			background-position center

		.changePassword
			width 300px
			display inline-block
			background-color #13161b
			padding 20px

			button[name="change"]
				margin-top 20px

		.emailSettings
			width 400px
			background-color #232832
			display inline-block
			padding 20px

			.emailBlock
				display flex
				align-items center

			button
				display inline-block
				margin 10px
				-webkit-filter grayscale(1)
				filter grayscale(1)
				color #000

				&.active
					-webkit-filter brightness(1)
					filter brightness(1)
					color #fff

			button[name="changeEmail"]
				background-image url(/img/game/edit.png)
				height 21px
				width 21px
				width 22px
				padding 0px

			[name="verify"]
				background-image url(/img/game/message.png)
				height 22px

			.cross
				background-image url(/img/game/cross.png)

			.check
				background-image url(/img/game/check.png)


		.notificationsSettings
			width 300px
			background-color #13161b
			display inline-block
			padding 20px

		.vacationMode
			width 300px
			background-color #232832
			display inline-block
			padding 20px
