@import '{}/imports/client/ui/colors.styl'

.cw--ContainerDrop
  display flex
  box-sizing border-box
  width 280px
  padding 10px
  justify-content space-around
  align-items flex-start
  flex-wrap wrap
  flex-direction row
  background-color alpha($cw--color_black, 0.85)
  border 1px solid $cw--color_metal
  border-radius 5px

  &__item
    display flex
    width 100px
    height 40px
    padding 10px
  
  &__info
    display flex
    width 100%
    flex-direction column
    justify-content space-around
    align-items flex-start
    font-size 18px

  &__icon
    flex-shrink 0
    width 40px
    height 40px
    margin-right 7px

  &__chance
    color $cw--color_nearWhite