.side_menu
	side-icon('residential')
	side-icon('military')
	side-icon('house')

.content
	.overlay.planet
		&.residential
			background-image url(/img/game/building/residential/back.jpg)
		
		&.military
			background-image url(/img/game/building/military/back.jpg)
			
			overlay-image('building', 'military', 'barracks', 374, 247, 12)
			overlay-image('building', 'military', 'factory', 0, 231, 11)
			overlay-image('building', 'military', 'airfield', 704, 151, 10)
			overlay-image('building', 'military', 'powerstation', 0, 79, 9)
			overlay-image('building', 'military', 'laboratory', 240, 107, 8)
			overlay-image('building', 'military', 'complex', 574, 94, 7)
			overlay-image('building', 'military', 'storage', 218, 6, 6)
			overlay-image('building', 'military', 'shipyard', 0, 46, 5)
			overlay-image('building', 'military', 'oscd', 805, 0, 4)
			overlay-image('building', 'military', 'defensecomplex', 661, 48, 3)
			overlay-image('building', 'military', 'void', 435, 87, 2)
			overlay-image('building', 'military', 'gates', 371, 60, 1)

.description, .small_description
	.requirements
		.building
			color #DF8642
					
		requirements-icon('building', 'residential', 'house')
		requirements-icon('building', 'residential', 'metal')
		requirements-icon('building', 'residential', 'crystal')
		requirements-icon('building', 'residential', 'spaceport')
		requirements-icon('building', 'residential', 'entertainment')
		requirements-icon('building', 'residential', 'alliance')
		requirements-icon('building', 'residential', 'tradingport')
		requirements-icon('building', 'residential', 'pulsecatcher')
		requirements-icon('building', 'residential', 'statue')
		requirements-icon('building', 'residential', 'colosseum')
		requirements-icon('building', 'residential', 'political')
		requirements-icon('building', 'residential', 'blackmarket')

		requirements-icon('building', 'military', 'powerstation')
		requirements-icon('building', 'military', 'laboratory')
		requirements-icon('building', 'military', 'barracks')
		requirements-icon('building', 'military', 'factory')
		requirements-icon('building', 'military', 'airfield')
		requirements-icon('building', 'military', 'shipyard')
		requirements-icon('building', 'military', 'defensecomplex')
		requirements-icon('building', 'military', 'storage')
		requirements-icon('building', 'military', 'gates')
		requirements-icon('building', 'military', 'void')
		requirements-icon('building', 'military', 'complex')
		requirements-icon('building', 'military', 'oscd')
		
.items li
	bottom-icon('building', 'residential', 'house')
	bottom-icon('building', 'residential', 'metal')
	bottom-icon('building', 'residential', 'crystal')
	bottom-icon('building', 'residential', 'spaceport')
	bottom-icon('building', 'residential', 'entertainment')
	bottom-icon('building', 'residential', 'alliance')
	bottom-icon('building', 'residential', 'tradingport')
	bottom-icon('building', 'residential', 'pulsecatcher')
	bottom-icon('building', 'residential', 'statue')
	bottom-icon('building', 'residential', 'colosseum')
	bottom-icon('building', 'residential', 'political')
	bottom-icon('building', 'residential', 'blackmarket')

	bottom-icon('building', 'military', 'powerstation')
	bottom-icon('building', 'military', 'laboratory')
	bottom-icon('building', 'military', 'barracks')
	bottom-icon('building', 'military', 'factory')
	bottom-icon('building', 'military', 'airfield')
	bottom-icon('building', 'military', 'shipyard')
	bottom-icon('building', 'military', 'defensecomplex')
	bottom-icon('building', 'military', 'storage')
	bottom-icon('building', 'military', 'gates')
	bottom-icon('building', 'military', 'void')
	bottom-icon('building', 'military', 'complex')
	bottom-icon('building', 'military', 'oscd')