.cw--PuzzleCreate
  display flex
  width 800px
  padding 50px
  flex-direction column
  background-color rgba(0, 0, 0, 0.8)

  &__cell
    margin 10px 0

  &__hint
    width 700px

  &__price
    display inline-flex
    vertical-align middle
    justify-content space-between
    align-items center

    .cw--ResourceSingle__image
      margin 0 10px