@import '{}/imports/client/ui/colors.styl'

.cw--PuzzleInsert
  width 400px
  padding 50px
  
  background-color $cw--color_black

  .cw--PuzzleInsert__resources
    border 0
    border-radius 0
    background none