@import '{}/imports/client/ui/colors'
@import '{}/imports/client/ui/config'

.cw--UnitsReinforcement
  display flex
  flex-wrap wrap
  justify-content space-between

  &__unit
    display flex
    flex-direction column
    width 90px
    margin-bottom 10px

    &_passive
      filter grayscale(1) brightness(.4)
      &:hover
        filter grayscale(.5)

    &:hover
      filter brightness(1.2)

  &__unitIcon
    display flex
    width 90px
    height @width
    align-items flex-end

    background-position center
    background-size 100%
    background-repeat no-repeat
    cursor pointer

  &__unitReserve
    width 100%
    padding 2px
    margin-top auto

    font-size $cw--fontSize_xs
    text-align center
    color $cw--color_lightGrey
    background-color alpha($cw--color_black, 0.5)

  &__unitCount
    box-sizing border-box
    font-size $cw--fontSize_m
  
  &_fleet &__unitCount
    margin-top 3px
    text-align center