@import '{}/imports/client/ui/colors'
@import '{}/imports/client/ui/config'

.cw--CosmosBattlePopup
  position absolute
  display block
  width 300px
  padding 15px
  box-sizing border-box

  cw--fontFamily_cond()
  font-size $cw--fontSize_m
  background-color $cw--color_black

  &__header
    display block
    margin-bottom 15px

    font-size $cw--fontSize_l
    font-weight bold
    color $cw--color_human

  &__actions
    display flex
    margin-top 15px
    justify-content center

  &__action
    width 200px
    margin auto
