@import '{}/imports/client/ui/colors.styl'

.cw--ContainerPopup
  width 720px
  height 690px
  background-color $cw--color_black

  &__title
    padding 12px 17px
    font-size 18px
    color $cw--color_human