menu-icon(name)
  .{name}-icon:not([disabled])
    background-image url("/img/game/menu/" name ".png")
    &:hover,
    &.active
      background-image url("/img/game/menu/" name "_a.png")
  
  .{name}-icon[disabled]
    background-image url("/img/game/menu/" name "_d.png")

side-icon(name)
  .{name}-icon
    background-image url("/img/game/side/" name ".png")
    &:hover,
    &.active
      background-image url("/img/game/side/" name "_a.png")

bottom-icon(type, group, name)
  .{name}-icon
    background-image url("/img/game/" type "/" group "/i/" name ".png")
    
bottom-icon-notimplemented(type, group, name)
  .{name}-icon
    background-image url("/img/game/notimplemented_icon.png")

bottom-side-icon(type, side, group, name)
  .{name}-icon
    background-image url("/img/game/" type "/" side "/" group "/i/" name ".png")
    
bottom-side-icon-notimplemented(type, side, group, name)
  .{name}-icon
    background-image url("/img/game/notimplemented_icon.png")

overlay-image(menu, sub, name, x, y, z)
  .{name}-icon:before
    content url("/img/game/" menu "/" sub "/" name ".png")
    left x px
    top y px
    z-index z

overlay-item(name, x, y, z)
  .{name}-icon
    left x px
    top y px
    z-index z
    
requirements-icon(menu, sub, name)
  .{name}-icon
    background-image url("/img/game/" menu "/" sub "/r/" name ".jpg")
    
requirements-icon-notimplemented(menu, sub, name)
  .{name}-icon
    background-image url("/img/game/notimplemented_req.jpg")

:disabled
  -webkit-filter grayscale(1) !important
  filter grayscale(1) !important
  cursor not-allowed !important

@import '{}/moduls/unit/client/unit.styl'
  

.acceptWindow
.inputWindow
  display inline-block
  position fixed
  z-index 100
  top 50%
  left 50%
  transform translate(-50%, -50%)
  background-image none
  background-color #13161b
  padding 20px
  padding-bottom 60px
  width 400px

  input
    display block
    width 386px
    margin-bottom 20px
    padding 10px 7px
    border 2px solid #006382
    background-color #C0C0C0
    border-radius 5px
    box-shadow inset 2px 2px 2px #000
    color #000000
    font-weight bold
    font-size 14px

  .close
    cursor pointer
    display block
    position absolute
    z-index 4
    right 5px
    top 5px
    width 30px
    height 30px
    background-image url(/img/game/cosmomap/button_close.png)
    background-repeat no-repeat
  
    &:hover
      background-image url(/img/game/cosmomap/button_close_active.png)
      
  .button
    display inline-block
    cursor pointer
    background-repeat no-repeat
    background-size 100% 100%
    font-size 24px
    font-weight bold
    text-align center
    color #FFFFFF
    
    &:hover:not(.disabled)
      -webkit-filter brightness(1.4)
      filter brightness(1.4)

    &.disabled
      -webkit-filter grayscale(1)
      filter grayscale(1)

    &.accept
    &.cancel
      position absolute
      width 106px
      height 35px
      padding-top 5px
    
    &.accept
      background-image url(/img/game/chat/accept.png)
      right 50%
      transform translate(-40px, 0)
      
    &.cancel
      background-image url(/img/game/chat/cancel.png)
      left 50%
      transform translate(40px, 0)

  span
    display block
    font-weight normal
    font-size 14px
    text-align center
    margin-bottom 20px
    
    &.title
      color #e9a844
    
    &.message
      color #56baf2