.index
	background-image url(/img/bg.jpg)
	background-repeat no-repeat
	background-position top center
	header
		position relative
		height 33px
		//width 1080px
		padding: 17px 0 0
		margin-bottom 680px
		
		background-color rgba(0, 0, 0,.5)
		color #993A2E
		
		.logo
			position absolute
			left 50%
			margin-left -540px
			
		.stats
			position absolute
			right 50%
			margin-right -540px
			
			>span
				margin 0 30px
				
			.count
				color #DEDEDE

	.center_image
		position absolute
		top 100px
		left 50%
		margin-left -172.5px
		width 347px
		height 39px
		text-align center
		
	h1
		color #599EC1
		margin-top 64px
		margin-bottom 20px
		text-align center

	.description,
	.subdescription,
	.awards,
	.feedback,
	.screenshots
		text-align center
	
	.screenshots
		li
			display inline-block

	.description
		width 808px
		padding 16px
		margin 0 auto
		background-color rgba(0, 0, 0, .4)
		text-align center
		border-radius 5px
		
		.consul
			color #BC5345

	.subdescription
		text-align center
		color #2C5D77
		
	.feedback
		li
			display inline-block
			width 362px
			height 150px
			padding 12px
			background-color #1D292D
			text-align left
			vertical-align middle
			border-radius 5px
			margin 0 15px
			
			&:nth-child(even)
				background-color #161C1F
			
			img
				float left
				margin-right 15px
				margin-bottom 15px
			
			.name
				color #D4A854
				font-weight bold
				margin-bottom 12px
			
			p
				color #C0CBCF
			
			.suggest
				width 100%
				color #7FB2CC
				clear both

footer
	height 30px