.index
	background-image url(/img/banner1.jpg)
	background-repeat no-repeat
	background-position center top
	background-color #0d1013
	
	header
		position relative
		height 100px
		margin-bottom 674px
		background-color #0d1013
		
		.logo
			position absolute
			left 50%
			margin-left -640px
			margin-top 50px
			color #c4c4c4
			width 500px
			text-align center
			
		.stats
			position absolute
			left 50%
			margin-left -640px
			margin-top 20px
			font-size 16px
			
			>span
				margin 0 40px
				color #939393
				
			.count
				color #e9a844

	.center_image
		position absolute
		top 20px
		left 50%
		margin-left -172.5px
		width 347px
		height 39px
		text-align center
		
		>h3
			margin-top 5px

	.awards
	.feedback
	.screenshots
		margin 0 auto
		padding-top 50px
		text-align center
	
	.screenshots
		max-width 1024px
		
		li
			margin 10px
			display inline-block

	.description
		position absolute
		top 100px
		height 674px
		width 100%
		margin 0 auto
		
		>span
			display block
			position absolute
			bottom 0
			padding 16px
			background-color rgba(0, 0, 0, 0.5)
			text-align center
			font-size 16px
		
	.feedback
		li
			display inline-block
			width 362px
			height 150px
			padding 12px
			background-color none
			text-align left
			vertical-align middle
			border-radius 5px
			margin 0 15px
			
			img
				float left
				margin-right 15px
				margin-bottom 15px
			
			.name
				color #D4A854
				font-weight bold
				margin-bottom 12px
			
			p
				color #C0CBCF
			
			.suggest
				width 100%
				color #7FB2CC
				clear both

footer
	height 30px