*
	margin 0
	padding 0
	
html, body
	background-color #000
	color #fff
	font-family Arial
	font-size 14px
	height 100%

body
	min-width 1465px
	
@media (max-width: 1024px)
	body
		min-width 1024px
		zoom 0.68

@media (max-width: 1465px)
	body
		min-width 1024px
		zoom 0.86

@media (min-width: 1900px)
	body
		min-width 1024px
		zoom 1.20

a
	color #fff

.disconnected
	color red
	position fixed
	top 100px
	text-align center
	width 100%
	z-index 1000
	font-size 30px
	font-weight bold

ul.notifications {
	position: fixed;
}