@import '{}/imports/client/ui/colors'
@import '{}/imports/client/ui/config'
@import '{}/imports/client/ui/responsive'


$color-human = #ffb74a
$color-metal = #66cce2
$color-crystal = #d36fff
$color-honor = #ff7566
$color-ggk = #c6e84c

$color-science = #4b78bb
$color-description = #bbc9db

$color-black = #000
$color-white = #fff
$color-blue = #13161b

$color-row1 =  #0B121A
$color-row2 = #0E1821
$color-row-hover =  #2a3a4a

@import 'nib'

menu-icon(name)
  .{name}-icon:not([disabled])
    background-image url("/img/game/menu/" name ".png")
    &:hover,
    &.active
      background-image url("/img/game/menu/" name "_a.png")
  
  .{name}-icon[disabled]
    background-image url("/img/game/menu/" name "_d.png")

side-icon(name)
  .{name}-icon
    background-image url("/img/game/side/" name ".png")
    &:hover,
    &.active
      background-image url("/img/game/side/" name "_a.png")

bottom-icon(type, group, name)
  .{name}-icon
    background-image url("/img/game/" type "/" group "/i/" name ".png")
    
bottom-icon-notimplemented(type, group, name)
  .{name}-icon
    background-image url("/img/game/notimplemented_icon.png")

bottom-side-icon(type, side, group, name)
  .{name}-icon
    background-image url("/img/game/" type "/" side "/" group "/i/" name ".png")
    
bottom-side-icon-notimplemented(type, side, group, name)
  .{name}-icon
    background-image url("/img/game/notimplemented_icon.png")

overlay-image(menu, sub, name, x, y, z)
  .{name}-icon:before
    content url("/img/game/" menu "/" sub "/" name ".png")
    left x px
    top y px
    z-index z

overlay-item(name, x, y, z)
  .{name}-icon
    left x px
    top y px
    z-index z
    
requirements-icon(menu, sub, name)
  .{name}-icon
    background-image url("/img/game/" menu "/" sub "/r/" name ".jpg")
    
requirements-icon-notimplemented(menu, sub, name)
  .{name}-icon
    background-image url("/img/game/notimplemented_req.jpg")

html, body
  position relative
  width 100%
  height 100%
  
  .page
    width 100%
    height 100%
    
    .newgame 
      width 100%
      height 100%

body.game
  max-width 1920px
  max-height 1080px
  margin 0 auto
  
  button
    cursor pointer
            
    &:hover
      -webkit-filter brightness(1.2)
      filter brightness(1.2)


  @import '{}/moduls/game/client/css/player.styl'
  @import '{}/moduls/game/client/css/popup.styl'
  @import '{}/moduls/building/client/building.styl'
  @import '{}/moduls/research/client/research.styl'
  @import '{}/moduls/mutual/client/mutual.styl'
  @import '{}/moduls/mail/client/mail.styl'
  @import '{}/moduls/chat/client/chat.styl'
  @import '{}/moduls/game/client/css/item.styl'
  @import '{}/moduls/cosmos/client/cosmos.styl'
  @import '{}/moduls/resources/client/resources.styl'
  @import '{}/moduls/user/client/user.styl'
  @import '{}/moduls/payment/client/promocode.styl'
  @import '{}/moduls/user/client/entranceReward.styl'


.page
  position relative
  //width 100vw
  //height 100vh
  width 100%
  height 100%
  overflow auto

.wrap
  position relative
  width 100%
  height 100%
  overflow hidden
  
  .page 
    .overlay_wrap
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      overflow hidden

      > .overlay
        position absolute
        z-index 0
        left 50%
        top 50%
        margin-left -960px
        margin-top -540px
        display block
        width 1920px
        height 1080px
        background-image url(/img/game/bg/net.png), url(/img/game/bg/default.jpg), url(/img/game/bg/bg.jpg)
        background-repeat repeat, no-repeat, no-repeat
        background-blend-mode normal, exclusion, normal

        &.hideNet
          background-repeat no-repeat, no-repeat, no-repeat
        
        &.item,
        &.ground
          background-image url(/img/game/bg/net.png), url(/img/game/bg/ground.jpg), url(/img/game/bg/bg.jpg)
          
        &.fleet
          background-image url(/img/game/bg/net.png), url(/img/game/bg/fleet.jpg), url(/img/game/bg/bg.jpg)
          
        &.cosmos
          background-image url(/img/game/bg/net.png), url(/img/game/bg/space.jpg), url(/img/game/bg/bg.jpg)

        &.artefacts
          background-repeat no-repeat, no-repeat
          background-blend-mode exclusion, normal
          
          .item
            height 90%
            &:before
              content ''
              position absolute
              top 0
              left 0
              width 100%
              height 100%
              background-position center

          &.white
            background-image url(/img/game/bg/artefacts.jpg), url(/img/game/bg/bg.jpg)
            .item:before
              background-image url(/img/game/artefact/white/bg.png)
          &.green
            background-image url(/img/game/bg/artefacts.jpg), url(/img/game/bg/bg.jpg)
            .item:before
              background-image url(/img/game/artefact/green/bg.png)
          &.blue
            background-image url(/img/game/bg/artefacts.jpg), url(/img/game/bg/bg.jpg)
            .item:before
              background-image url(/img/game/artefact/blue/bg.png)
          &.purple
            background-image url(/img/game/bg/artefacts.jpg), url(/img/game/bg/bg.jpg)
            .item:before
              background-image url(/img/game/artefact/purple/bg.png)
          &.orange
            background-image url(/img/game/bg/artefacts.jpg), url(/img/game/bg/bg.jpg)
            .item:before
              background-image url(/img/game/artefact/orange/bg.png)
          &.red
            background-image url(/img/game/bg/artefacts.jpg), url(/img/game/bg/bg.jpg)
            .item:before
              background-image url(/img/game/artefact/red/bg.png)

        a
          position absolute
          
          &:before
            position absolute
            top 0
            left 0
            -webkit-filter blur(0)
            filter blur(0)
            opacity 1
            transition opacity .5s, filter 2s, -webkit-filter 2s
          
          &:hover:before
            -webkit-filter brightness(1.1)
            filter brightness(1.1)
              
          img
            user-select none
            position absolute
            z-index 1
            
            &:hover
              -webkit-filter brightness(1.1)
              filter brightness(1.1)
            
            &[progress]
              z-index 2
              
            + img
              opacity 0.8

            &[progress="100"]
              -webkit-filter blur(20px)
              filter blur(20px)
            &[progress="90"]
              -webkit-filter blur(18px)
              filter blur(18px)
            &[progress="80"]
              -webkit-filter blur(16px)
              filter blur(16px)
            &[progress="70"]
              -webkit-filter blur(12px)
              filter blur(12px)
            &[progress="60"]
              -webkit-filter blur(8px)
              filter blur(8px)
            &[progress="50"]
              -webkit-filter blur(6px)
              filter blur(6px)
            &[progress="40"]
              -webkit-filter blur(4px)
              filter blur(4px)
            &[progress="30"]
              -webkit-filter blur(3px)
              filter blur(3px)
            &[progress="20"]
              -webkit-filter blur(2px)
              filter blur(2px)
            &[progress="10"]
              -webkit-filter blur(1px)
              filter blur(1px)
          
          &[progress="100"]:before
            -webkit-filter blur(20px)
            filter blur(20px)
          &[progress="90"]:before
            -webkit-filter blur(18px)
            filter blur(18px)
          &[progress="80"]:before
            -webkit-filter blur(16px)
            filter blur(16px)
          &[progress="70"]:before
            -webkit-filter blur(12px)
            filter blur(12px)
          &[progress="60"]:before
            -webkit-filter blur(8px)
            filter blur(8px)
          &[progress="50"]:before
            -webkit-filter blur(6px)
            filter blur(6px)
          &[progress="40"]:before
            -webkit-filter blur(4px)
            filter blur(4px)
          &[progress="30"]:before
            -webkit-filter blur(3px)
            filter blur(3px)
          &[progress="20"]:before
            -webkit-filter blur(2px)
            filter blur(2px)
          &[progress="10"]:before
            -webkit-filter blur(1px)
            filter blur(1px)
    
    @import '{}/moduls/game/client/css/mobile.styl'

  
.tooltip
  .inner
    > .map-planet-popup
      position relative
      border 0
      background transparent
      padding 0
      
    > .unit
      width 390px

.unit
  .effects
    font-weight bold
    .currentLevel
      color $color-metal
      margin 0
    .limit
      color $color-human
    
  .title
    text-align center
    font-size 16px
    font-weight bold
    margin-bottom 10px

.targets_title
  color $color-human
  font-weight bold
  margin 5px 0        

.targets
  display flex
  list-style-type none
  justify-content space-around
  margin 10px 0
  
  li
    width 64px
    height 64px
    
    a
      display block
      width 100%
      height 100%
      background-size 100%

.close
  display block
  width 22px
  height 22px
  background-image url(/img/game/close_new.png)
  background-repeat no-repeat
  background-position center center
  padding 7px
  -webkit-filter grayscale(0.5)
  filter grayscale(0.5)
  cursor pointer
  
  &:hover
    -webkit-filter grayscale(0)
    filter grayscale(0)

.over .close
  position absolute
  top 0
  right 0

.spinner-container
  position absolute
  top 0
  left 0
  background-color rgba(0,0,0,0.5)

.newgame
  position relative
  display flex
  flex-shrink 0
  justify-content space-between
  flex-direction column
  width 100%
  min-width 870px
  max-width 1920px
  height 100%
  max-height 1080px
  align-items stretch
  
  // Возврат оригинального цвета
  .leaflet-container a
    color inherit
  
  .notImplemented
    color $color-human
    
  .tie
    color $color-crystal
  .victory
    color $color-ggk
  .defeat
    color $color-honor

  button:not(.cw--button):not(.cw--button_max), a:not(.cw--button):not(.cw--Menu__item)
    outline none

  &.new  
    .item_info
      width 360px
      padding 5px 15px
      display flex
      flex-shrink 0
      flex-direction column
      justify-content space-between
      
      h2
        font-size 15px
        color $color-human
        margin 10px 0

      .effects
        .title
          color $color-white
            
        .currentLevel
          margin-bottom 20px
          .effect
            color $color-metal
          
        .nextLevel
          margin 20px 0
          .effect
            color $color-ggk
      
      .planets
        display flex
        justify-content space-around
        flex-wrap wrap
        min-height 80px
        
      
      .actions
        display flex
        flex-shrink 0
        justify-content flex-start
        padding 25px 0 10px
        
        .action
          display flex
          flex-wrap wrap
          justify-content space-between
          align-items flex-end
          padding 0 7.5px
          width 50%

          &:first-child
            padding-left 0

          button
            width 100%
          
          .notImplemented
            flex-wrap nowrap
            margin 0 0 8px 0
            justify-content space-between
            -webkit-filter grayscale(1) brightness(0.6)
            filter grayscale(1) brightness(0.6)
          
          .transition
            width 100%

          .max
            display inline-block
            width 43px
            height 24px
            border 0
            background-image url(/img/game/max.png)
            cursor pointer
            
            &:hover
              -webkit-filter brightness(1.2)
              filter brightness(1.2)
          
          .count
            width 115px
            text-align center
            border-radius 5px
            padding-top 2px
            -webkit-box-shadow inset 2px 2px 4px 0px rgba(0,0,0,0.75);
            -moz-box-shadow inset 2px 2px 4px 0px rgba(0,0,0,0.75);
            box-shadow inset 2px 2px 4px 0px rgba(0,0,0,0.75);
            border 2px solid #335168
            background-color #adadad
            align-self center
            
            & + .build
              margin-top 8px
          
          .build
            width 100%
            box-sizing border-box

        div
          width 100%
          -webkit-flex-shrink 1
          flex-shrink 1
          display flex
          flex-direction row
          flex-wrap wrap
          overflow hidden

        progress
          align-self flex-start
          max-width 100%
        
    .main_action,
    .additional_action,
    .back_action
      text-transform uppercase
      color $color-black
      border 0
      padding 15px 15px
      font-size 16px
      cursor pointer
      outline 2px solid black
      outline-offset -7px
      text-decoration none
      text-align center
      
      &[disabled="true"],
      &[disabled="disabled"],
      &.disabled
        -webkit-filter grayscale(1) brightness(0.3) !important
        filter grayscale(1) brightness(0.3) !important

      &:hover
        -webkit-filter brightness(1.2)
        filter brightness(1.2)
          
    .main_action
      flex-shrink 0
      background linear-gradient(90deg, #e28e49, #f1c54c);
      
    .additional_action
      margin 0 auto 0 0
      background linear-gradient(90deg, #43c0d1, #449bd8);
      
      &.metal,
      &.crystal
        width 100%
    
    .back_action
      background linear-gradient(90deg, #959595, #999999);
          
    .content.artefacts
      .description
        height 80px      

    .content
      width 720px
      height auto
      
      margin auto 15% auto auto
      padding 0
      
      background-color rgba($color-black, 0.7)
      
      display flex
      flex-shrink 0
      flex-wrap wrap
      justify-content space-between
      align-items stretch

      +media($cw--size_l, $cw--size_xxxl)
        margin-right 175px
      +media($cw--size_xxxl, 1800px)
        margin-right 12%
      +media($cw--size_l, 1290px, 1000px)
        margin-right 20px
      
      &.cosmos
        width 960px
        margin auto
        flex-shrink 1
        &.cosmosHistory
          min-height 400px
          .attack-menu
            display none
          
        .attack-menu
          display flex
      div.header
        display flex
        flex-shrink 0
        width 100%
        height 36px
        text-align center
        justify-content space-between
        align-items center
        background-color $color-black
        font-size 16px
        
        .level
          width 180px
          color $color-description
          
          span
            font-weight bold
            color $color-metal
        
        .name
          margin auto
          color $color-white
          
          &:after
            content ""
            position relative
            display inline-block
            vertical-align sub
            background-image url(/img/game/star.png)
    
          &.star1:after
            width 23px
            height 18px
            
          &.star2:after
            width 46px
            height 18px
            
          &.star3:after
            width 69px
            height 18px
          
        .toggle_description
          display block
          margin 0
          padding 0
          width 21px
          height 26px
          background-image url(/img/game/description.png)
          border 0
          background-color transparent
          cursor pointer
          margin auto 10px auto auto
          -webkit-filter grayscale(1)
          filter grayscale(1)
          
          &.active
            -webkit-filter grayscale(0)
            filter grayscale(0)
              
            &:hover
              -webkit-filter grayscale(0) brightness(1.4)
              filter grayscale(0) brightness(1.4)
          
          &:hover
            -webkit-filter grayscale(1) brightness(1.4)
            filter grayscale(1) brightness(1.4)
      
      > .description
        position relative
        height 106px
        padding 15px
        font-size 14px
        color $color-description
        background-color rgba($color-black, 0.4)
        
        .scrollbar-inner
          height 100%
          overflow-y auto
          padding-right 15px
          
      .additional_info
        width 230px
        padding 5px 15px
        background-color rgba($color-black, 0.7)
        
      .artefactsStatistics
        display flex
        flex-direction column
        font-size 36px
        justify-content space-around
        text-align center
        
        span
          color $color-ggk

      .requirements
        min-height 302px
        
        .title
          font-size 16px
          color $color-science
        
        >a
          display block
          width 171px
          height 32px
          padding 8px 0 12px 74px
          background-repeat no-repeat
          background-position 2px center
          margin-top 12px
          text-decoration none

  .content
    position relative
    display flex
    align-items flex-start
    flex-shrink 0
    z-index 4
    
    width 100%
    height 428px
    margin auto
      
    &:has(#map-content)
      top 0
      left 0
      width 100%
      height 100%
    
    .information
      display flex
      margin 0 auto
      max-width 1400px
      flex-shrink 1
      
      .description
        width auto
        min-width 600px
        margin-right 5px
      
      & + .overlay
        display none

    .overlay
      position relative
      flex-shrink 1
      left auto
      margin 0 auto
      
  .permanent
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    z-index 3
  
  .resources
    display flex
    flex-shrink 0
    justify-content flex-start
    list-style-type none
    white-space nowrap
    flex-wrap wrap
    
    .white
      color $color-white
    .green
      color $color-ggk
    .blue
      color $color-metal
    .purple
      color $color-crystal
    .orange
      color $color-human
    .red
      color $color-honor

  header
    position relative
    margin-top 10px
    display flex
    flex-shrink 0
    align-items flex-start
    width 100%
    height 90px
    > *
      z-index: 5

    .resources
      padding 9px 9px 8px 0
      background-color rgba(0, 0, 0, 0.8)
      border 2px solid rgba(100, 100, 100, 0.8)
      border-left 0
      border-radius 0 50px 50px 0

    > .menu
      position relative
      display flex
      flex-shrink 0
      height 90px
      flex-direction column
      margin 0 auto
      z-index inherit

      .main_menu
        display flex
        flex-shrink 0
        justify-content center
        list-style-type none
        margin 0 auto
        z-index: 5
        
        li
          position relative
          display block
          width 53px
          height 53px
          overflow hidden
          background-color $color-black

          img
            position absolute
            left 0
            top -(@height)
          
          &:hover,
          &.active
            border-bottom 4px solid transparent
            &.planet
              border-color #e8e8e8
            
            &.research
              border-color #689dd2
            
            &.army
              border-color #b56d37
            
            &.galaxy
              border-color #8ed5fb
            
            &.earth
              border-color #d0574a
            
            &.house
              border-color #fefea8
            
            &.alliance
              border-color #6468cb
            
            &.chat
              border-color #fcb50d
            
            &.info
              border-color #7fb1bd

          &.active
            img
              top 0
          
      
      .second_menu
        display flex
        flex-shrink 0
        position absolute
        top 57px
        left 0
        list-style-type none
        padding 8px
        background-color $color-black
        z-index: 5

        li
          a
            text-decoration none
            color $color-description
          
          &.active
            a
              color $color-metal
        
        li + li
          &:before
            content '/'
            color $color-white
            margin 0 0 0 4px
        

    .menu_soc
      width 100px
      height 25px
      margin-right 15px
      text-align right
      
      a
        display inline-block
        height 25px
        width 25px
        text-decoration none
        margin-left 5px
        opacity 0.8
        
        &:hover
          opacity 1

  .bottom_menu
    position relative
    display flex
    width 100%
    height 6.6vw
    max-height 105px
    min-height 70px
    text-align center
    flex-wrap nowrap
    justify-content center
    margin-bottom 20px
    
    &.artefacts
      flex-wrap wrap
      max-height none
      height auto
      
      li
        min-height 60px
        min-width 40px
        
      > li:last-child
          margin 10px 10px 3px
    
    .group
      max-width none
      max-height none
      margin 10px 30px 3px
      width auto
      border 0
      background transparent
      align-items center
      justify-content center
      height 9.8vmin
      
      &:hover
        background transparent
      
      ul
        height 100%
      
      li
        max-width none
        max-height none
        width 8.3vmin
      

    li
      display inline-block
      max-width 105px
      max-height 105px
      margin 0 0.1vmin
      height 100%
      width 6.9vw
      min-width 66px
      min-height 66px
      box-sizing border-box
    
    a
      position absolute
      top 0
      left 0
      display block
      width 100%
      height 100%
      background-size 100%
      background-repeat no-repeat
    


  .planet:not(.overlay):not(.content):not(li)
    display inline-flex
    vertical-align middle
    width 80px
    flex-direction column
    align-items center
    justify-content space-between
    
    text-decoration none
    
    h2
      height 20px
      font-size 18px
    
    .map-planet-marker
      flex-shrink 0

    .map-planet-border
      position relative
      border-radius 50%
      border 3px solid transparent
      border-color $cw--color_white

    .fleet-marker
      position absolute
      left 100%
      top -5px
      width 11px
      height @width
      background-repeat no-repeat
      background-position center
      background-size 100%
      z-index 2

    .battle-marker
      position absolute
      left -12px
      top -5px
      width 13px
      height @width
      background-repeat no-repeat
      background-position center
      background-size 100%
      background-image url(/img/game/battle/battleIcon.svg)
      z-index 2

    &.fleet-reptile .fleet-marker
      background-image url(/img/game/fleet_reptiles.svg)
    &.fleet-human .fleet-marker
      background-image url(/img/game/fleet_consul.svg)
    &.fleet-user .fleet-marker
      background-image url(/img/game/fleet_user.svg)
    &.fleet-ally .fleet-marker
      background-image url(/img/game/fleet_alians.svg)

    &.colony-reptile
      color $cw--color_honor
      .map-planet-border
        border-color $cw--color_honor
    &.colony-human
      color $cw--color_metal
      .map-planet-border
        border-color $cw--color_metal
    &.colony-user
      color $cw--color_credit
      .map-planet-border
        border-color $cw--color_credit
    &.colony-ally
      color $cw--color_crystal
      .map-planet-border
        border-color $cw--color_crystal


.content.wallet,
.content.admin
  .overlay
    display none
  
  > *
    margin auto !important

.scrollbar-inner
  position relative

.ps-scrollbar-y
  background-color $color-metal !important
  opacity 1 !important
  border-radius 0 !important
  
.ps-scrollbar-y-rail
  opacity 1 !important
  background-color transparent !important
  
.ps-scrollbar-x-rail
  display none !important


.cw--FleetInfo
  position absolute
  left 0
  top 100px
  z-index 8
  display flex
  flex-direction column
  width 0
  max-height 60vh

  +media(null, $cw--size_l)
    position fixed
    top initial
    bottom 0
    z-index 20
    max-height 100vh

  &_active
    width 320px
    overflow visible
    +media(null, $cw--size_l)
      width 280px
    +media($cw--size_l, $cw--size_xxxl)
      width 300px
    +media($cw--size_xxxl)
      width 320px

  &_attack:not(&_active)
    width 82px

    +media(null, $cw--size_l)
      width 70px

  &__header
    display flex
    flex-direction row
    flex-shrink 0
    align-items center
    height 82px
    padding 3px
    box-sizing border-box
    overflow hidden
    background-color #131313
    cw--fontFamily_cond()
    font-size 15px
    font-weight bold

    +media(null, $cw--size_l)
      order 3
      height 70px
      font-size $cw--fontSize_s

  &_active &__header
    height auto
    min-height 82px
    
    +media(null, $cw--size_l)
      min-height 70px

  &__status
    display block
    text-decoration none

  &__time
    white-space nowrap
    font-weight normal
    color $cw--color_white

  &__headerText
    display flex
    padding 0 5px 0 10px
    flex-grow 1
    flex-direction column
    justify-content center
    align-items flex-start

  &_attack:not(&_active) &__headerText
    display none

  &__waitingAttack
    display flex
    height 76px
    width 76px
    margin auto
    flex-shrink 0
    box-sizing border-box
    justify-content center
    align-items flex-end
    text-decoration none

    +media(null, $cw--size_l)
      width 60px
      height 60px
      background-size 40%

    &_reptile
      background-image url(/img/game/fleet_reptiles.svg)
      background-repeat no-repeat
      background-position center 40%
      color $cw--color_honor
      border solid 1px $cw--color_honor
      border-image $cw--gradient_honor 1
    
  &__waitingTime
    height 17px
    overflow hidden
    font-size $cw--fontSize_s
    text-align center

    +media(null, $cw--size_l)
      font-size $cw--fontSize_xs

  &__toggle
    position absolute
    left 100%
    top 0
    width 34px
    height 82px
    cursor pointer
    background-color $cw--color_black
    border solid 1px $cw--color_metal
    border-image $cw--gradient_metal 1

    +media(null, $cw--size_l)
      top initial
      bottom 0
      height 70px

    &:before
      content ''
      position absolute
      left 50%
      top 50%
      display block
      width 16px
      height 23px
      transform translate(-50%, -50%)

      background-image url(/img/arrow.svg)
      background-repeat no-repeat
      background-position center

  &_active &__toggle:before
    transform translate(-50%, -50%) rotate(180deg)

    &:hover
      -webkit-filter brightness(1.2)
      filter brightness(1.2)

  &__table
    position relative
    display none
    max-height 400px
    overflow hidden
    background-color $cw--color_black
    box-sizing border-box
    +media(null, $cw--size_l)
      max-height 100%

  &_active &__table
    display block

.cw--FleetInfoTable
  text-align center
  font-size $cw--fontSize_s

.cw--FleetInfoPlanets
  text-align center
  font-size $cw--fontSize_s

  &__item
    padding 5px
    border-bottom 1px dashed rgba($color-white, 0.1)
  
  &__itemHead
    font-size $cw--fontSize_m

  &_compact &__itemHead
    font-size $cw--fontSize_xs
    margin-bottom -12px

  &__path
    position relative
    display flex
    flex-direction column
    height 70px

  &_compact &__path
    height 30px

  &__planet
    width 80px
    position absolute
    top 0
    bottom 0
    display inline-flex
    font-size 12px
    font-weight bold

    &_start
      left 0

    &_end
      right 0
  
  &__item_back &__planet
    &_start
      left initial
      right 0

    &_end
      right initial
      left 0

  &__fleetReptiles
    position absolute
    left 50%
    top 50%
    display block
    width 37px
    height 30px
    transform translate(-50%,-50%)

    background-repeat no-repeat
    background-position center center
    background-image url(/img/game/cosmomap/marker_fleet_rept.png)
  
  &__way
    position relative
    display inline-block
    height 2px
    vertical-align middle
    margin auto 40px
    text-decoration none

    &_humans
      color $cw--color_credit
      background-color $cw--color_credit
    &_reptiles
      color $cw--color_honor
      background-color $cw--color_honor

  &_compact &__way
    height 1px

  &__marker
    position absolute
    top -16px
    width 14px
    height 14px
    z-index 2
    background-repeat no-repeat
    background-position center
    background-size 100%
    transform rotate(90deg)
    font-size 20px

    &_humans
      background-image url(/img/game/fleet_user.svg)

    &_reptiles
      background-image url(/img/game/fleet_reptiles.svg)

    &:after
      content ''
      position absolute
      left 50%
      transform translateX(-50%)
      width 2px
      height 2px
      background-color $cw--color_black

    &:after
      bottom 100%

  &__item_back &__marker
    transform rotate(-90deg)

  &_compact &__marker
    top -7px

  &__wayTime
    display block
    width 100%
    margin-top 8px
    text-align center

  &_compact &__wayTime
    margin-top 2px
    font-size $cw--fontSize_xs


  &_compact
    .map-planet-marker
      display none


.cw--ItemImage
  position absolute
  top 50%
  right 50%
  width 40vw
  height 60vh
  background-repeat no-repeat
  background-position center center
  background-size contain
  transform translate(-20%, -55%)

  +media($cw--size_l, $cw--size_xxl)
    width 30vw
    transform translate(-60%, -55%)

  +media($cw--size_l, 1290px, 1000px)
    width 36vw
    transform translate(-30%, -55%)