.pages
  text-align center
  
  li
    display inline-block
  
  a
    display block
    height 34px
    width 40px
    color #006D95
    text-decoration none
    font-weight bold
    font-size 24px
    padding-top 6px
    
  .active
    color #FFFFFF