.player
  display flex
  flex-direction column
  width 220px
  margin 0 20px 0 35px
  color $color-white
  position relative

  .cw--SoundManagerMute
    position absolute
    left -35px
    top -3px
  
  .currentTrack
    height 23px
    width 100%
    display flex
    overflow hidden
    justify-content space-between
    align-items center
    color $color-metal
    background-color $color-black
    
    .openPlaylist
      background-image url(/img/game/player/open.png)
      
      &.close
        transform scaleY(-1)
    
  span
    margin 0 auto 0 0
    white-space nowrap
    flex-shrink 1
    overflow hidden
    
  button:not(.orangeButton)
    width 24px
    height 20px
    color transparent
    background-repeat no-repeat, no-repeat
    background-position center
    background-color transparent
    border none
  
  .orangeButton
    margin 0 auto
  
  .play
    .playpause
      background-image url(/img/game/player/pause.png)
    
  .playpause
    background-image url(/img/game/player/play.png)
    
  .playlist
    display none
    flex-direction column
    background-color $color-blue
    
    &.show
      display flex
    
    .author
      margin 7px 0
      text-align center
      color $color-white
      a
        color $color-metal
    
  li
    cursor pointer
    list-style-type none
    display flex
    height 24px
    align-items center
    
  .controls
    display flex
    justify-content space-around
    margin 7px 0
    
    .prev
      transform scaleX(-1)
      background-position calc(50% - 5px) center, calc(50% + 5px) center
      background-image url(/img/game/player/play.png), url(/img/game/player/play.png)

    .next
      background-position calc(50% - 5px) center, calc(50% + 5px) center
      background-image url(/img/game/player/play.png), url(/img/game/player/play.png)
      
    .shuffle
      background-image url(/img/game/player/shuffle.png)
      
      &:not(.enabled)
        -webkit-filter grayscale(1) brightness(0.6)
        filter grayscale(1) brightness(0.6)
      
    &:not(.hasSelected)
      .movedown,
      .moveup,
      .toggle
        -webkit-filter grayscale(1) brightness(0.6)
        filter grayscale(1) brightness(0.6)
      
    .movedown
      transform scaleY(-1)
      background-position center calc(50% - 2px)
      background-image url(/img/game/player/arrow_up.png)
      
    .moveup
      background-image url(/img/game/player/arrow_up.png)
      
    .toggle
      background-image url(/img/game/player/disable.png)
        
      &.enable
        background-image url(/img/game/player/enable.png)
  

  .selected
    span
      color $color-metal

  .disabled
    span
      -webkit-filter grayscale(1) brightness(0.6)
      filter grayscale(1) brightness(0.6)