.modal.support
	width 560px
	height 100px
	margin -50px 0 0 -280px

	.a
		display inline-block
		border 2px solid #2D7B9F
		color #2D7B9F
		padding 10px 5px
		margin 5px
		background transparent
		font-weight bold
		cursor pointer
	
	.need_help,
	.write_message
		color #91B935
		border 2px solid #91B935
		background-color #000
		padding 20px 45px
		font-size 16px
		cursor pointer
		width auto
		margin 20px
		
		&.write_message
			color #5cabc1
			border-color #5cabc1
		
		&:hover
			-webkit-filter brightness(1.2)
			filter brightness(1.2)

	&.needHelp
		width 528px
		height 502px
		background transparent
		border 0
		margin -251px 0 0 -264px