.support
	display inline-block
	position fixed
	z-index 100
	top 50%
	left 50%
	transform translate(-50%, -50%)
	text-align center
	color #FFFFFF
	border 1px solid #2D4D5C
	border-radius 5px
	background-image none
	background-color #0b0d0f

	.close
		position absolute
		top -22px
		right -22px
		height 44px
		width 44px
		padding 0
		margin 0
		background-image url(/img/game/close.png)
		background-repeat no-repeat
		cursor pointer
		
		&:hover
			-webkit-filter brightness(1.4)
			filter brightness(1.4)
	
	.need_help
	.write_message
		display block
		color #91B935
		border 2px solid #91B935
		background-color #000
		padding 20px 45px
		font-size 16px
		cursor pointer
		width auto
		margin 30px
		text-decoration none
		
		&.write_message
			color #5cabc1
			border-color #5cabc1
		
		&:hover
			-webkit-filter brightness(1.2)
			filter brightness(1.2)

	&.needHelp
		background transparent
		border 0