@import '{}/imports/client/ui/config'
@import '{}/imports/client/ui/colors'

.cw--EffectLevels
  cw--fontFamily_cond()
  font-size 14px
  font-weight bold

  &__currentLevel
  &__nextLevel
    height 50px

  &__nextLevel
    padding-top 12px