@import '{}/imports/client/ui/colors'
@import '{}/imports/client/ui/config'

.cw--Units
  display flex
  flex-wrap wrap
  justify-content space-between

  cw--fontFamily_cond()

  &__unit
    position relative
    width 70px
    height @width
    margin 7px 0

    cursor pointer
    text-decoration none
    color $cw--color_lightGrey
    background $cw--color_darkGrey

    &_text
      display flex
      width 100%
      height auto
      margin 5px 0
      background none
      color $cw--color_lightGrey

    &_battle
      display flex
      width calc(50% - 5px)
      height auto
      margin 5px 0
      justify-content left

      line-height 100%
      background none

    &_passive
      filter grayscale(1) brightness(.4)
      &:hover
        filter grayscale(.5)

    &:hover
      filter brightness(1.2)

  &__unitIcon
    display block
    width 100%

  &__unitCount
    position absolute
    bottom 0
    left 0
    display block
    width 100%

    text-align center
    font-size $cw--fontSize_s

    color $cw--color_nearWhite
    background-color alpha($cw--color_black, .5)

  &__unit_text &__unitCount
  &__unit_battle &__unitCount
    position static
    width auto

    color $cw--color_metal
    font-size $cw--fontSize_m

  &__unit_text &__unitCount
    margin-left auto
    text-align right

  &__unit_battle &__unitCount
    order -1
    margin-right 5px

  &__unit_text&__unit_reptile &__unitCount
  &__unit_battle&__unit_reptile &__unitCount
    color $cw--color_honor
