<template name="LayoutMain">
  <div class="
    cw--LayoutMain
    {{#if hasShadow}}cw--LayoutMain_shadow{{/if}}
    "
  >
    <header class="cw--MainHeader">
      <div class="cw--MainHeader__logo">
        <a
          href="/"
          onClick={{scrollTo 'body'}}
          class="cw--MainHeader__logoLink"
        >
          <img
            class="cw--MainHeader__logoImg"
            src="/img/logo.png"
            alt="Consulwar"
          />
        </a>
      </div>
      <nav class="cw--MainHeader__menu">
        <a
          onClick={{scrollTo '.cw--PageIndex__screens'}}
          class="
            cw--MainHeader__menuItem
            {{#if scrollPosition.get 'screens'}}cw--MainHeader__menuItem_active{{/if}}
          "
          data-sound="hover,click"
        >
          Скриншоты
        </a>
        <button
          class="
            cw--MainHeader__playButton
            cw--button
            cw--button_flat
            cw--button_flat_orange
          "
          onClick={{showWelcomePopup}}
          data-sound="hover,click"
        >
          Зарегистрируйся
        </button>
        <a
          onClick={{scrollTo '.cw--PageIndex__about'}}
          class="
            cw--MainHeader__menuItem
            {{#if scrollPosition.get 'about'}}cw--MainHeader__menuItem_active{{/if}}
          "
          data-sound="hover,click"
        >
          Про игру
        </a>
      </nav>

      <div class="cw--MainHeader__stats">
        {{> SoundManagerMute className='cw--MainHeader__mute'}}
        <div class="cw--MainHeader__statsItem">
          Консулов:
          <span class="cw--MainHeader__statsCount">
            {{registered.get}}
          </span>
        </div>
        <div class="cw--MainHeader__statsItem">
          Онлайн:
          <span class="cw--MainHeader__statsCount">
            {{online.get}}
          </span>
        </div>
      </div>
    </header>

    <main class="cw--MainContent">
      {{> yield }}
    </main>

    <footer class="cw--MainFooter">
      <div class="cw--MainFooter__copyright">
        &copy; Morula, 2018
      </div>

      <nav class="cw--MainFooter__menu">
        <a
          class="cw--MainFooter__menuItem"
          href="http://info.consulwar.ru/"
          data-sound="hover,click"
        >
          Техническая поддержка
        </a>
        <a
          onClick={{showFeedback 'questions'}}
          class="cw--MainFooter__menuItem"
          data-sound="hover,click"
        >
          Вопрос
        </a>
        <a
          onClick={{showFeedback 'problems'}}
          class="cw--MainFooter__menuItem"
          data-sound="hover,click"
        >
          Ошибка
        </a>
        <a
          onClick={{showFeedback 'ideas'}}
          class="cw--MainFooter__menuItem"
          data-sound="hover,click"
        >
          Идея
        </a>
      </nav>

      <div class="cw--MainFooter__license">
        <a
          class="cw--MainFooter__licenseLink"
          onClick={{showLicense}}
          href="/legal/agreement"
          data-sound="hover,click"
        >
          Лицензионное соглашение
        </a>
      </div>
    </footer>

  </div>
  
  {{> notifications}}
</template>