@import '{}/imports/client/ui/config'
@import '{}/imports/client/ui/responsive'
@import '{}/imports/client/ui/colors'

.cw--LayoutMain
  font-size $cw--fontSize_main
  display flex
  flex-direction column
  height auto
  min-height 100vh
  min-width $cw--size_xxs
  background-image url(/img/game/bg/militaryDistrict.jpg)
  background-size cover
  background-position center
  position relative

  &_shadow
    background-image url(/img/game/bg/chamberOfConsul.jpg)
    
    &:before
      content ''
      position absolute
      left 0
      top 0
      width 100%
      height 100%
      background-color alpha($cw--color_black, .4)


// Content section

.cw--MainContent
  position relative
  flex-grow 1
  flex-shrink 1
  flex-basis auto
  padding 40px 50px

  +media(null, $cw--size_xs)
    padding 20px


// Header section

.cw--MainHeader
  position relative
  flex-basis 60px
  flex-grow 0
  display flex
  flex-direction row
  padding 5px 50px
  box-sizing border-box
  background alpha($cw--color_black, 50%)

  +media($cw--size_xs, $cw--size_l)
    flex-basis 130px
    flex-wrap wrap
    padding 5px 30px

  +media(null, $cw--size_xs)
    flex-direction column
    flex-basis 220px
    padding 5px 10px

  &__logo
    flex-basis 200px
    flex-grow 1
    margin auto
    display flex

    +media(null, $cw--size_xs)
      flex-basis 50%

  &__logoLink
    display block
    margin-top auto
    margin-bottom auto

  &__logoImg
    display block
    width 200px
    +media(null, $cw--size_xs)
      width 80%
      margin auto

  &__menu
    flex auto
    margin auto
    display flex
    flex-direction row
    justify-content center

    +media(null, $cw--size_l)
      order 3
    +media(null, $cw--size_xs)
      flex-wrap wrap

  &__menuItem
    flex 0 auto
    margin auto 15px
    text-decoration none
    font-weight bold
    transition all .15s ease
    &:hover
      color $cw--color_honor

  &__playButton
    flex 0 auto
    margin auto 5px
    cursor pointer
    padding-left 30px
    padding-right 30px
    text-transform uppercase
    
    +media(null, $cw--size_xs)
      order 10
      flex-basis 200px

  &__stats
    flex-basis 200px
    flex-grow 1
    margin auto
    display flex
    justify-content flex-end

    +media($cw--size_s, $cw--size_l)
      flex-basis 50%
    +media($cw--size_xs, $cw--size_s)
      flex-basis 30%
      flex-direction column
      align-items flex-end
    +media(null, $cw--size_xs)
      flex-basis auto
 
  &__statsItem
    margin-left 30px
    flex 0 auto
    white-space nowrap
    +media($cw--size_xs, $cw--size_s)
      margin 0
    +media(null, $cw--size_xs)
      margin auto 15px


  &__statsCount
    color $cw--color_human


// Footer section

.cw--MainFooter
  position relative
  flex 0 1 auto
  display flex
  height 50px
  padding 10px 50px
  box-sizing border-box
  background alpha($cw--color_black, 25%)

  +media(null, $cw--size_l)
    padding 10px
    flex-direction column
    height auto
  +media(null, $cw--size_xs)
    padding 10px 50px

  &__copyright
    flex 0 1 20%
    margin auto

    +media(null, $cw--size_l)
      order 1
    +media($cw--size_xs, $cw--size_l)
      margin 0 auto 10px auto
    +media(null,$cw--size_xs)
      margin 0 0 5px 0
      text-align left

  &__menu
    flex 1 1 auto
    margin auto
    text-align center
    display flex
    flex-wrap wrap
    justify-content center

    +media(null, $cw--size_l)
      order 3

    +media(null, $cw--size_xs)
      flex-wrap wrap
      flex-direction row
      margin 0
      // align-items flex-start
      justify-content flex-start

  &__menuItem
    display inline-block
    margin 0 12px
    text-decoration none
    white-space nowrap
    cursor pointer

    +media(null, $cw--size_xs)
      text-align left
      margin 5px 15px 5px 0

    &:hover
    &:active
      text-decoration underline

  &__license
    flex 0 1 20%
    margin auto
    text-align right
    white-space nowrap

    +media(null, $cw--size_l)
      order 2
    +media($cw--size_xs, $cw--size_l)
      margin 5px auto
    +media(null, $cw--size_xs)
      margin 5px 0
      text-align left

  &__licenseLink
    text-decoration none
    &:hover
    &:active
      text-decoration underline