@import '{}/imports/client/ui/config'
@import '{}/imports/client/ui/responsive'
@import '{}/imports/client/ui/colors'

.cw--LayoutMain
  font-size $cw--fontSize_m
  display flex
  flex-direction column
  min-height 100vh
  min-width $cw--size_xxs
  background-color $cw--color_darkGrey
  background-size cover
  background-position center
  position relative
  // Костыль для хрома
  +media($cw--size_xl)
    height 320px


  &_shadow
    background-image url(/img/game/house/room/cruel/1.jpg)

    &:before
      content ''
      position absolute
      width 100%
      height 100%
      background-color alpha($cw--color_black, .9)


// Content section

.cw--MainContent
  position relative
  display flex
  flex-grow 1
  flex-shrink 0
  flex-basis auto

// Header section

.cw--MainHeader
  position relative
  flex-basis 60px
  flex-grow 0
  flex-shrink 0
  display flex
  flex-direction row
  padding 5px 50px
  box-sizing border-box
  background alpha($cw--color_black, .5)

  +media($cw--size_xs, $cw--size_l)
    flex-basis 130px
    flex-wrap wrap
    padding 5px 30px

  +media(null, $cw--size_xs)
    flex-direction column
    flex-basis 220px
    padding 5px 10px

  &_fly
    position fixed
    top 0
    left 0
    z-index 50
    width 100%
    background alpha($cw--color_black, .8)
    +media($cw--size_xs, $cw--size_l)
      height 130px

    +media(null, $cw--size_xs)
      height 220px

  &__logo
    flex-basis 200px
    flex-grow 1
    margin auto
    display flex

    +media(null, $cw--size_xs)
      flex-basis auto

  &__logoLink
    display block
    margin-top auto
    margin-bottom auto

  &__logoImg
    display block
    width 200px
    +media(null, $cw--size_xs)
      width 80%
      margin auto

  &__menu
    flex auto
    margin auto
    display flex
    flex-direction row
    justify-content center

    +media(null, $cw--size_l)
      order 3
    +media(null, $cw--size_xs)
      flex-wrap wrap

  &__menuItem
    flex 0 auto
    margin 0 15px
    display flex
    height auto
    align-items center

    text-decoration none
    font-weight bold
    transition all .15s ease

    &:hover
    &:active
    &_active
      color $cw--color_honor

  &__playButton
    flex 0 auto
    margin auto 5px
    cursor pointer
    padding-left 30px
    padding-right 30px
    
    +media(null, $cw--size_xs)
      order 10
      flex-basis 200px

  &_fly &__playButton
    background-color $cw--color_human
    border-image none
    border none
    color $cw--color_white

  &__stats
    display flex
    margin auto
    flex-basis 200px
    flex-grow 1
    justify-content flex-end
    align-items center

    +media($cw--size_s, $cw--size_l)
      flex-basis 50%
    +media($cw--size_xs, $cw--size_s)
      flex-basis 30%
      flex-direction column
      align-items flex-end
    +media(null, $cw--size_xs)
      flex-basis auto
 
  &__statsItem
    margin-left 30px
    flex 0 auto
    white-space nowrap
    +media($cw--size_xs, $cw--size_s)
      margin 0
    +media(null, $cw--size_xs)
      margin auto 15px


  &__statsCount
    color $cw--color_human


// Footer section

.cw--MainFooter
  position relative
  display flex
  height 50px
  padding 10px 50px
  box-sizing border-box
  flex-basis 50px
  flex-grow 0
  flex-shrink 0
  background alpha($cw--color_black, 25%)

  +media(null, $cw--size_l)
    height auto
    padding 10px
    flex-direction column
    flex-basis auto
  +media(null, $cw--size_xs)
    padding 10px 50px

  &__copyright
    flex 0 1 20%
    margin auto

    +media(null, $cw--size_l)
      order 1
    +media($cw--size_xs, $cw--size_l)
      margin 0 auto 10px auto
    +media(null,$cw--size_xs)
      margin 0 0 5px 0
      text-align left

  &__menu
    flex 1 1 auto
    margin auto
    text-align center
    display flex
    flex-wrap wrap
    justify-content center

    +media(null, $cw--size_l)
      order 3

    +media(null, $cw--size_xs)
      flex-wrap wrap
      flex-direction row
      margin 0
      // align-items flex-start
      justify-content flex-start

  &__menuItem
    display inline-block
    margin 0 12px
    text-decoration none
    white-space nowrap
    cursor pointer

    +media(null, $cw--size_xs)
      text-align left
      margin 5px 15px 5px 0

    &:hover
    &:active
      text-decoration underline

  &__license
    flex 0 1 20%
    margin auto
    text-align right
    white-space nowrap

    +media(null, $cw--size_l)
      order 2
    +media($cw--size_xs, $cw--size_l)
      margin 5px auto
    +media(null, $cw--size_xs)
      margin 5px 0
      text-align left

  &__licenseLink
    text-decoration none
    &:hover
    &:active
      text-decoration underline
