.market
	padding 17px

	h2
		width 100%
		text-align center
		
	ul
		display block
		width 100%
	
		li
			cursor pointer
			display block
			width 100%
			
			&:hover
				background-color #ffffff
				
			&.active
				background-color #ff0000

	.from
		position absolute
		width 50%
		left 0px
		top 50px
		
	.to
		position absolute
		width 50%
		right 0px
		top 50px
		
	form
		display block
		position absolute
		bottom 0px
		left 0px