@import '{}/imports/client/ui/config'
@import '{}/imports/client/ui/responsive'
@import '{}/imports/client/ui/colors'

.cw--UserRegister
  display flex
  width 900px
  max-width 100%
  background-color alpha($cw--color_black, .9)
  font-size $cw--fontSize_m

  +media(null, $cw--size_s)
    flex-direction column
    max-width 330px
    padding-bottom 50px
    overflow-x hidden

  &__sidebar
    background-color #101821
    flex-basis 380px
    flex-grow 0
    flex-shrink 1

  &__person
    user-select none
    width 100%

  &__content
    display flex
    flex-direction column
    flex-basis 480px
    flex-shrink 11
    flex-grow 0
    padding 30px 50px 15px
    box-sizing border-box

    +media($cw--size_s, $cw--size_l)
      padding 30px 30px 15px

    +media(null, $cw--size_s)
      padding 30px
      flex-grow 0
      flex-shrink 0

  &__title
    font-size 22px
    font-weight bold
    color $cw--color_human

  &__intro
    flex-basis auto
    flex-shrink 0
    flex-grow 0
    margin-top 5px
    margin-bottom 20px
    cw--fontFamily_cond()
    color $cw--color_description

  &__switch
    padding 20px 40px
    color $cw--color_lightGrey

  &__switchHead
    padding-bottom 10px

  &__switchButton
    cursor pointer
    padding 0
    border none
    background none
    color $cw--color_metal
    cw--fontFamily_cond()
    font-size $cw--fontSize_l
    font-weight bold
    text-decoration underline
    &:hover
    &:active
    &:focus
      outline none
      text-decoration none
      color $cw--color_white

  &__formSection
    flex-grow 1
    flex-shrink 0
    flex-basis auto

  &__form
    margin-bottom 10px
    margin-right auto

  &__inputs
    display flex
    flex-direction row
    height 110px

    +media(null, $cw--size_m)
      flex-direction column
      height 210px
      justify-content space-between
  
  &__inputsGroup
    display flex
    margin-right 12px
    flex-direction column
    flex-basis auto
    justify-content space-between

  &__label
    flex-grow 0
    flex-basis auto
    cw--fontFamily_cond()
    font-size $cw--fontSize_m
    line-height 22px
    color $cw--color_description


  &__input
    display block
    flex 0 auto
    width 182px
    height 30px
    box-sizing border-box
    font-size $cw--fontSize_m
  
  &__rulesLabel
    color $cw--color_lightGrey
  
  &__rulesLink
    color $cw--color_metal
    &:hover
      color $cw--color_white
      text-decoration none
  
  &__rules
  &__code
    margin 15px 0
  
  &__submit
    width 100%
    padding 12px 20px
    box-sizing border-box

    color $cw--color_white
    cw--fontFamily_cond()
    font-size $cw--fontSize_l
    font-weight bold
    text-transform uppercase

    cursor pointer
    border none
    outline solid 1px #3A470B
    outline-offset -6px
    background linear-gradient(0deg, #70871C 30%, #98BD13)

    &:hover
    &:active
      filter brightness(1.4)

  &__errors
    padding 10px
    margin-bottom 10px
    border solid 1px darken($cw--color_honor, 30)
    color $cw--color_honor
    font-size $cw--fontSize_s
    