@import '{}/imports/client/ui/config'
@import '{}/imports/client/ui/colors'
@import '{}/imports/client/ui/responsive'

.cw--MenuUnique
  &__item
    +media($cw--size_xxl, $cw--size_xxxl)
      width 100px
    +media($cw--size_xl, $cw--size_xxl)
      width 90px
    +media(null, $cw--size_s)
      flex-basis 23%
      margin 2px 1%

  &__itemLevel
    position absolute
    display flex
    align-items center
    justify-content center
    box-sizing border-box
    top 2px
    left 2px
    width 33px
    height 33px
    border-radius 50%
    cw--fontFamily_cond()
    font-size $cw--fontSize_l
    color $cw--color_white
    background-color alpha($cw--color_black, 0.8)

    &_progress
      top 6px
      left 3px
      height 22px
      width auto
      padding 0 4px
      border-radius 0