.adminReptile
  display inline-block
  position fixed
  z-index 100
  top 50%
  left 50%
  transform translate(-50%, -50%)
  padding 20px
  text-align center
  color #FFFFFF
  border 2px solid #E9A844
  border-radius 5px
  background-image none
  background-color #0b0d0f

  .text-enemy
    color #D65D52

  .armies
    display block
    width 900px

    li
      display inline-block
      width 430px
      margin 5px

  .change
    display block
    position relative
    cursor pointer
    width 181px
    height 40px
    margin 0 auto
    margin-top 20px
    padding-top 10px
    color #FFFFFF
    font-size 24px
    font-weight bold
    background-image url(/img/game/quests/btn_take.png)

    &:hover
      -webkit-filter brightness(1.4)
      filter brightness(1.4)

  .changeTurn
    display block
    position relative
    cursor pointer
    width 181px
    height 40px
    margin 0 auto
    margin-top 20px
    padding-top 10px
    color #FFFFFF
    font-size 20px
    line-height 27px
    font-weight bold
    background-image url(/img/game/quests/btn_take.png)

    &:hover
      -webkit-filter brightness(1.4)
      filter brightness(1.4)

  .setBonus
    display block
    position relative
    cursor pointer
    width 181px
    height 40px
    margin 0 auto
    margin-top 20px
    padding-top 10px
    color #FFFFFF
    font-size 24px
    font-weight bold
    background-image url(/img/game/quests/btn_take.png)

    &:hover
      -webkit-filter brightness(1.4)
      filter brightness(1.4)

  .deleteBonus
    display block
    position relative
    cursor pointer
    width 181px
    height 40px
    margin 0 auto
    margin-top 20px
    padding-top 10px
    color #FFFFFF
    font-size 24px
    font-weight bold
    background-image url(/img/game/quests/btn_take.png)

    &:hover
      -webkit-filter brightness(1.4)
      filter brightness(1.4)