.content.reinforcement
	.remuneration
		color #d6914c
		
		ul
			float right			

.content.earth
	.army,
	.type,
	.reptiles
		display inline-block
		height 384px
		vertical-align top
		
	.army,
	.reptiles
		width 485px
	
	.type
		width 338px
		height 64px
		padding-top 320px
		background-repeat no-repeat
		background-position top center
		text-align center
		
		li
			display block
		
		&.mountains
			background-image url(/img/game/battle/earth/mountains.jpg)
		&.rocks
			background-image url(/img/game/battle/earth/rocks.jpg)
		&.plains
			background-image url(/img/game/battle/earth/plains.jpg)
		&.swamps
			background-image url(/img/game/battle/earth/swamps.jpg)
		&.ruins
			background-image url(/img/game/battle/earth/ruins.jpg)
		&.hills
			background-image url(/img/game/battle/earth/hills.jpg)
		&.capital
			background-image url(/img/game/battle/earth/capital.jpg)
		
	.back
		display inline-block
		border 2px solid #2D7B9F
		color #2D7B9F
		padding 10px 5px
		margin 5px
		background transparent
		font-weight bold
		cursor pointer
	
	table
		width 49%
		float left
		
		th
			text-align left
	
	#map
		position absolute !important
		top 0
		left 0
		width 100%
		height 100%
		z-index 100
		zoom reset