.zone-reserve
	position absolute
	left 0
	top 0
	z-index 2
	width 100%
	height 100%
	background-color #090e14
	
	p
		font-size 14px
		color #b6c5d3

	.resources
		margin-top 15px
		margin-bottom 15px

	.btn-send
		float left
		margin-left 10px
		cursor pointer
		display block
		text-align center
		position relative
		font-weight bold
		font-size 18px
		text-transform uppercase
		text-decoration none
		padding-top 12px
		color #ffffff
		width 177px
		height 34px
		background-image url(/img/game/earth/btn_reinforce.png)
		background-repeat no-repeat
		background-size 100% 100%
		&:hover
			background-image url(/img/game/earth/btn_reinforce_active.png)
	
	.btn-all
		float left
		margin-left 10px
		cursor pointer
		display block
		text-align center
		position relative
		font-weight bold
		font-size 18px
		text-transform uppercase
		text-decoration none
		padding-top 12px
		color #ffffff
		width 177px
		height 34px
		background-image url(/img/game/earth/btn_spec.png)
		background-repeat no-repeat
		background-size 100% 100%
		&:hover
			background-image url(/img/game/earth/btn_spec_active.png)

	.btn-close
		cursor pointer
		display block
		position absolute
		left 300px
		bottom 0px
		color #ffffff
		width 164px
		height 34px
		text-transform uppercase
		text-decoration none
		background-image url(/img/game/earth/btn_close.png)
		background-repeat no-repeat
		background-size 100% 100%
		&:hover
			background-image url(/img/game/earth/btn_close_active.png)
	
	.description
		position absolute
		top 20px
		left 750px
		width 380px

	.units
		position absolute
		display block
		left 20px
		top 0px
		width 750px
		
		li
			position relative
			display inline-block
			overflow visible
			margin-top 20px
			
			&:last-child
				margin-top 20px
			
		a
			background-repeat no-repeat

		.max
			position absolute
			top 80px
			height 20px
			width 100%
			text-align center
			
		.count
			position relative
			margin-top 5px
			width 100%
			height 20px
			border-radius 5px
			padding-top 2px
			-webkit-box-shadow inset 2px 2px 4px 0px rgba(0,0,0,0.75);
			-moz-box-shadow inset 2px 2px 4px 0px rgba(0,0,0,0.75);
			box-shadow inset 2px 2px 4px 0px rgba(0,0,0,0.75);
			border 2px solid #335168
			background-color #adadad
			text-align center

#map-earth
	zoom reset
	position absolute
	left 0
	top 0
	z-index 1
	width 100%
	height 100%
	background-color #000

.earth-marker
	color #ff0000
	pointer-events none
	
	&:before
		content ""
		position absolute
		display block
		top 27.5%
		left 27.5%
		width 45%
		height 45%
		background-size 100% 100%
		background-repeat no-repeat
		background-position center center
		border-radius 50%
	
	canvas
		position absolute
	
.earth-marker-enemy:before
	background-image url(/img/game/cosmomap/ico_rept.png)
	-webkit-box-shadow: 0px 0px 50px 5px rgba(189,82,72,1)
	-moz-box-shadow: 0px 0px 50px 5px rgba(189,82,72,1)
	box-shadow: 0px 0px 50px 5px rgba(189,82,72,1)
	
.earth-marker-our:before
	background-image url(/img/game/cosmomap/ico_humans.png)
	-webkit-box-shadow: 0px 0px 50px 5px rgba(73,128,191,1)
	-moz-box-shadow: 0px 0px 50px 5px rgba(73,128,191,1)
	box-shadow: 0px 0px 50px 5px rgba(73,128,191,1)
	
.earth-marker-connection-text
	font-weight bold
	font-size 16px
	pointer-events none


.point-popup
	position absolute
	left 0
	top 0
	z-index 100
	padding 15px
	border 4px solid #4D70B4
	border-radius 15px
	background-color #000711
	width 200px
	
	.text-enemy
		color #D65D52

	.text-ours
		color #55BAF2

	h2
		text-overflow ellipsis
		display block
		white-space nowrap
		overflow hidden
		text-align center

	p
		padding 0px
		font-size 16px
		text-align left
		
	a
		cursor pointer
		display block
		text-align center
		text-transform uppercase
		text-decoration none
		font-weight bold
		font-size 16px
		margin 10px auto
		padding-top 10px
		width 153px
		height 30px
		color #ffffff
		background-repeat no-repeat
		background-size 100% 100%
	
	.btn-info		
		background-image url(/img/game/earth/btn_info.png)
		&:hover
			background-image url(/img/game/earth/btn_info_active.png)
		
	.btn-attack
		background-image url(/img/game/earth/btn_attack.png)
		&:hover
			background-image url(/img/game/earth/btn_attack_active.png)
		
	.btn-reinforce
		background-image url(/img/game/earth/btn_reinforce.png)
		&:hover
			background-image url(/img/game/earth/btn_reinforce_active.png)
			

.zone-info
	position absolute
	left 0px
	top 0
	z-index 2
	width 1464px
	height 100%
	background-repeat no-repeat
	background-size 100% 100%
	background-image url(/img/game/earth/back_africa.jpg)
	font-size 20px
	font-weight bold
	
	.btn-reinforce
		cursor pointer
		display block
		text-align center
		text-transform uppercase
		text-decoration none
		position absolute
		left 15px
		bottom 15px
		font-weight bold
		font-size 18px
		padding-top 12px
		color #ffffff
		width 177px
		height 34px
		background-image url(/img/game/earth/btn_reinforce.png)
		background-repeat no-repeat
		background-size 100% 100%
		&:hover
			background-image url(/img/game/earth/btn_reinforce_active.png)
	
	.btn-special
		cursor pointer
		display block
		text-align center
		text-transform uppercase
		text-decoration none
		position absolute
		right 15px
		bottom 15px
		font-weight bold
		font-size 18px
		padding-top 12px
		color #ffffff
		width 177px
		height 34px
		background-image url(/img/game/earth/btn_spec.png)
		background-repeat no-repeat
		background-size 100% 100%
		&:hover
			background-image url(/img/game/earth/btn_spec_active.png)
		
	.btn-close
		cursor pointer
		display block
		position absolute
		left 588px
		bottom 0px
		color #ffffff
		width 164px
		height 34px
		background-image url(/img/game/earth/btn_close.png)
		background-repeat no-repeat
		background-size 100% 100%
		&:hover
			background-image url(/img/game/earth/btn_close_active.png)

	span
		color #FFFFFF
		
	ul
		position relative
		width 440px
		
		li
			width 210px
			position relative
			display inline-block
			margin-top 10px
			font-size 16px

	.army-humans
		position absolute
		left 15px
		top 15px
		width 440px
		min-height 100px
		background-position left top
		background-repeat no-repeat
		background-image url(/img/game/cosmomap/ico_humans.png)
		color #55BAF0
		
		p
			padding-left 70px
		
	.army-reptiles
		position absolute
		right 15px
		top 15px
		width 440px
		min-height 100px
		background-position right top
		background-repeat no-repeat
		background-image url(/img/game/cosmomap/ico_rept.png)
		color #D3625E
		
		p
			text-align right
			padding-right 70px
		
	.summary-info
		position absolute
		left 455px
		top 15px
		width 430px
		
		.humans
			color #55BAF0
			
		.reptiles
			color #D3625E

		> div
			padding-top 80px
			padding-left 80px
		
		h2
			text-align center