@import '{}/imports/client/ui/colors'
@import '{}/imports/client/ui/config'

.cw--UnitCharacteristics
  display block
  min-width 300px

  &__head
    color $cw--color_white
    padding-bottom 10px
    font-weight bold
    font-size $cw--fontSize_l

  &__title
    color $cw--color_human
    padding-bottom 3px

  &__characteristics
    display flex
    height 25px
    font-size $cw--fontSize_m
    font-weight bold
    padding-bottom 12px

  &__damage
  &__damage_signature
  &__armor
  &__armor_signature
    flex-basis 70px
    white-space nowrap
    margin-right 10px
    &:before
      content ''
      display inline-block
      vertical-align middle
      width 25px
      height 25px
      background-position center
      background-size 25px
      background-repeat no-repeat
  &__damage
    color $cw--color_honor
    &:before
      background-image url(/img/game/Unit/damage.svg)
  &__damage_signature
    color $cw--color_honor
    &:before
      background-image url(/img/game/Unit/damage_signature.svg)
  &__armor
    color $cw--color_nearWhite
    &:before
      background-image url(/img/game/Unit/armor.svg)
  &__armor_signature
    color $cw--color_nearWhite
    &:before
      background-image url(/img/game/Unit/armor_signature.svg)

  &__targets
    display flex

  &__target
    display block
    height 60px
    flex-basis @height
    margin-right 10px
    box-sizing border-box

    cursor pointer
    background-size @height
    border solid 1px transparent
    background-repeat no-repeat
    background-position center

    &:hover
      border solid 1px $cw--color_metal
      border-image $cw--gradient_metal 1

    &_reptile:hover
      border solid 1px $cw--color_honor
      border-image $cw--gradient_honor 1

  &__opponents
    padding 12px 0 6px 0
    margin-top 12px
    border-top solid 1px $cw--color_grey
