@import '{}/imports/client/ui/colors'
@import '{}/imports/client/ui/config'

.cw--UnitCharacterisctics
  display block
  min-width 300px

  &__head
    color $cw--color_white
    padding-bottom 10px
    font-weight bold
    font-size $cw--fontSize_l

  &__title
    color $cw--color_human
    padding-bottom 3px

  &__characteristics
    display flex
    height 25px
    font-size $cw--fontSize_m
    font-weight bold
    padding-bottom 12px

  &__damage
  &__damage_signature
  &__armor
  &__armor_signature
    flex-basis auto
    white-space nowrap
    margin-right 15px
    &::before
      content ''
      display inline-block
      vertical-align middle
      width 25px
      height 25px
      background-position center
      background-size 25px
      background-repeat no-repeat
  &__damage
    color $cw--color_honor
    &::before
      background-image url(/img/game/unit/damage.svg)
  &__damage_signature
    color $cw--color_honor
    &::before
      background-image url(/img/game/unit/damage_signature.svg)
  &__armor
    color $cw--color_nearWhite
    &::before
      background-image url(/img/game/unit/armor.svg)
  &__armor_signature
    color $cw--color_nearWhite
    &::before
      background-image url(/img/game/unit/armor_signature.svg)

  &__targets
    display flex
  &__target
    display block
    height 60px
    flex-basis @height
    margin-right 10px
    background-size @height
    border solid 1px transparent
    background-repeat no-repeat
    background-position center
    box-sizing border-box
    &:hover
      border solid 1px #D65F52
      border-image linear-gradient(0deg, #A3473C, #D65F52) 1
