@import '{}/imports/client/ui/config'
@import '{}/imports/client/ui/colors.styl'

.cw--PersonSkinPopup
  display flex
  box-sizing border-box
  width 720px
  max-width 720px
  min-width 360px
  height 650px
  max-height 100vh
  padding 12px 17px
  flex-wrap wrap
  align-items center
  background-color $cw--color_black

  &__title
    font-size $cw--fontSize_l
    color $cw--color_human

  &__settings
    display flex
    width 350px
    margin-left 20px
    justify-content space-around
    align-content center

  &__settingsOption
    display flex
    justify-content center
    align-content center

  &__skinList
    display flex
    width 100%
    height 595px
    justify-content space-between
    align-content space-between
    flex-wrap wrap

  &__skin
    display flex
    width 155px
    height 292px
    flex-direction column
    justify-content space-between

  &__skinImageBlock
    position relative
    width 155px
    height 235px

    .cw--PersonSkinPopup__skinInfo
      position absolute
      bottom 0
      left 0

  &__skinImage
    width 155px
    height 235px

  &__skinInfo
    display flex
    box-sizing border-box
    width 100%
    height 50px
    padding 5px
    justify-content space-around
    align-items center
    font-size 24px
    background-color alpha($cw--color_black, 0.75)

  &__iconCredits
    width 40px
    height 40px
