@import '{}/imports/client/ui/colors'
@import '{}/imports/client/ui/config'

.cw--Maximum
  cw--fontFamily_cond()
  font-size $cw--fontSize_l
  display block
  max-width 360px
  height auto
  border solid 1px $cw--color_metal
  border-image linear-gradient(0deg, #2b6d92, $cw--color_metal) 1
  background-color $cw--color_black
  padding 7px 10px 14px 10px
  &__head
    color $cw--color_human
    padding-bottom 12px
    font-weight bold
  &__short
    display block
    color $cw--color_metal
  &__shortButton
    display inline-block
    vertical-align middle
  &__description
    padding 20px 0
    color $cw--color_nearWhite

  &__actions
    display flex
    padding-top 20px
    justify-content space-between
  &__getAccount
    flex-basis 170px
    flex-grow 1
  &__skip
    flex-basis 160px
    flex-grow 0
    margin-left 10px

