@import '{}/imports/client/ui/config'

.cw--ContainerList
  display flex
  justify-content space-around
  align-items flex-start
  flex-wrap wrap

  &__item
    width 192px
    height 320px

  &__info
    text-align center
    font-size $cw--fontSize_l
    font-weight bold

  &__image
    width 192px
    height 256px
    cursor pointer
  
  &__options
    display flex
    flex-direction row
    justify-content flex-start
    align-items center

  &__input
    width 55px
    margin-right 12px
