@import '{}/imports/client/ui/colors'
@import '{}/imports/client/ui/config'
@import '{}/imports/client/ui/responsive'

.cw--ResourceCurrent
  cw--fontFamily_cond()
  font-size 14px
  font-weight bold
  line-height 14px
  background $cw--color_black
  display flex
  flex-direction row
  padding 6px
  border solid 1px #3B6F8C
  border-left none
  border-radius 0 100px 100px 0

  &__resource
    width 60px
    margin-bottom -3px
    text-align center
    line-height 14px

    +media(null, $cw--size_xs)
      width 50px

    &_credits
      cursor pointer
      order 6

  &__icon
    display block
    margin auto
    width 70%
    margin-bottom 5px
    &_credits:hover
      -webkit-filter brightness(1.4)
      filter brightness(1.4)

  &__artifacts
    display block
    width 57px
    height 57px
    padding 0
    order 7

    cursor pointer
    background-size 100%
    background-image url(/img/game/Resource/Artifacts.svg)
    background-repeat no-repeat
    +media(null, $cw--size_xs)
      width 50px
      height 50px

    &:hover
      -webkit-filter brightness(1.4)
      filter brightness(1.4)
      background-image url(/img/game/Resource/Artifacts_active.svg)
    