@import '{}/imports/client/ui/colors'
@import '{}/imports/client/ui/config'

.cw--Requirements
  padding 10px
  cw--fontFamily_cond()

  &__head
    padding-bottom 5px

    font-size $cw--fontSize_m
    font-weight bold

    color $cw--color_metal

  &__item
    display block
    min-height 64px
    padding 5px 10px
    margin 0 -10px
    box-sizing border-box

    text-decoration none
    font-weight bold
    font-size $cw--fontSize_s

    border solid 1px transparent

    &:hover
      background-color alpha($cw--color_metal, .15)
      border solid 1px $cw--color_metal
      border-image linear-gradient(0deg, #2A6C91, #56BBF3) 1

  &__itemTitle
    display block

    &_research
      color $cw--color_metal

    &_building
      color $cw--color_human

  &__levelHas
  &__levelNeed
    display block

  &__currentLevel
    color $cw--color_credit

  &__currentLevel_need
    color $cw--color_honor

  &__item
    padding-left 70px

    background-size 50px
    background-repeat no-repeat
    background-position 10px 6px
