.promocodeCreate
  display inline-block
  position fixed
  z-index 100
  top 50%
  left 50%
  transform translate(-50%, -50%)
  padding 20px
  text-align center
  color #FFFFFF
  border 2px solid #E9A844
  border-radius 5px
  background-image none
  background-color #0b0d0f

  label
    display inline-block

    .title
      margin-bottom 5px
      margin-top 5px

  input
  select
    width 200px
    font-weight bold
    padding 5px
    border 2px solid #006382
    background-color #C0C0C0
    border-radius 5px
    box-shadow inset 2px 2px 2px #000

  input[name="random"]
    box-shadow none
    width 20px
    height 20px

  textarea
    width 850px
    height 70px
    margin-top 20px
    paddin 5px
    border 2px solid #006382
    background-color #C0C0C0
    border-radius 5px
    box-shadow inset 2px 2px 2px #000

  .profit
    display block
    width 900px

    li
      display inline-block
      width 430px
      margin 5px

  .create
    display block
    position relative
    cursor pointer
    width 181px
    height 40px
    margin 0 auto
    margin-top 20px
    padding-top 10px
    color #FFFFFF
    font-size 24px
    font-weight bold
    background-image url(/img/game/quests/btn_take.png)

    &:hover
      -webkit-filter brightness(1.4)
      filter brightness(1.4)


.content
  .promocodeHistory
    position relative
    height 435px
    margin-left 0px
    background-color #04080B
    z-index 10

    input[name="username"]
    input[name="code"]
      position absolute
      top 400px
      width 180px
      height 15px
      padding 5px
      border 2px solid #006382
      background-color #C0C0C0
      border-radius 5px
      box-shadow inset 2px 2px 2px #000
      font-size 14px
      font-weight bold
      color #000000

      &::-webkit-input-placeholder
        font-weight normal
        color #333333

    input[name="username"]
      left 20px

    input[name="code"]
      right 20px

    .data
      height 355px
      overflow-y auto

    table
      width 100%
      border-collapse collapse

      tr
        height 40px

        &:nth-child(odd):not(.header)
          background-color #0B121A

        &:nth-child(even)
          background-color #0E1821

      td, th
        text-align left

        &:nth-child(1)
          padding-left 10px
          width 160px

        &:nth-child(2)
          width 450px

        &:nth-child(3)
          width 160px

        &:nth-child(4)
          width 160px

        &:nth-child(5)
          width 120px
