@import '{}/imports/client/ui/colors'
@import '{}/imports/client/ui/config'

.cw--PageAbout
  font-size $cw--fontSize_m
  display block
  box-sizing border-box
  max-width 1360px
  margin auto
  color $cw--color_nearWhite
  letter-spacing 0.02em
  padding 50px

  &__intro
    margin-bottom 30px

  &__header
    font-size $cw--fontSize_m
    font-weight bold
    margin 20px 0 10px 0
    color $cw--color_metal
    &_human
      color $cw--color_human