@import '{}/imports/client/ui/colors'
@import '{}/imports/client/ui/config'

.cw--PageAbout
  display block
  box-sizing border-box
  max-width 1200px
  margin auto
  color $cw--color_nearWhite
  line-height 1.4em
  letter-spacing 0.02em

  &__intro
    margin-bottom 40px

  &__header
    font-size $cw--fontSize_smallHead
    font-weight bold
    margin 30px 0 15px 0
    color $cw--color_metal
    &_human
      color $cw--color_human