@import '{}/imports/client/ui/colors.styl'

.cw--button
  display flex
  align-items center
  justify-content center
  font-size 18px

  &_type
    &_primary
      border 0
      padding 12px
      outline 2px solid $cw--color_black
      outline-offset -5px

      &_small
        padding 8px

      &_orange
        background linear-gradient(0deg, #FF9C2E 0%, #FFD44A 100%)

      &_blue
        background linear-gradient(0deg, #55B1E4 0%, #75EEFF 100%)

      &_green
        background linear-gradient(0deg, #8DAB24 30%, #B5D054 100%)

    &_secondary
      padding 8px
      border 1px solid

      &_human
        border-color $cw--color_human
        color $cw--color_human

      &_metal
        border-color $cw--color_metal
        color $cw--color_metal

      &_crystal
        border-color $cw--color_crystal
        color $cw--color_crystal

      &_honor
        border-color $cw--color_honor
        color $cw--color_honor

      &_credit
        border-color $cw--color_credit
        color $cw--color_credit
  
  &_notActive
    -webkit-filter brightness(0.5)
    filter brightness(0.5)

  &_disabled
    cursor not-allowed !important
    -webkit-filter grayscale(1) brightness(0.5) !important
    filter grayscale(1) brightness(0.5) !important

  &:hover
  &:focus
    -webkit-filter brightness(1.2)
    filter brightness(1.2)

  &_close
    cursor pointer
    width 25px
    height 25px
    border solid 1px #D65F52
    border-image linear-gradient(0deg, #812920, #D65F52) 1
    background-image url(/img/close.svg)
    background-repeat no-repeat
    background-position center
    background-color $cw--color_black
    box-sizing border-box
    &:hover
    &:active
      background-color $cw--color_honor
      border none
      background-image url(/img/close_black.svg)

  &_description
    cursor pointer
    width 25px
    height 25px
    border solid 1px #56BAF2
    border-image linear-gradient(0deg, #2E79A3, #56BAF2) 1
    background-image url(/img/description.svg)
    background-repeat no-repeat
    background-position center
    background-color $cw--color_black
    box-sizing border-box
    &:hover
    &:active
      -webkit-filter brightness(1.2)
      filter brightness(1.2)

  &_flat
    color $cw--color_metal
    background-color $cw--color_black
    border solid 1px #2B6D92
    border-image linear-gradient(0deg, #2B6D92, #56BBF3) 1
    padding 10px
    font-size 18px
    box-sizing border-box
    display inline-block
    cursor pointer
    &:hover
    &:active
      filter none
      color #A3DEFF
      border-image linear-gradient(0deg, #4594BF, #8BD4FC) 1

    &_green
      color $cw--color_credit
      border solid 1px #2B6D92
      border-image linear-gradient(0deg, #5E7118, $cw--color_credit) 1
      &:hover
        color #D5F075
        border-image linear-gradient(0deg, #82992E, #D7F07D) 1
