$cw--color_black = #000000
$cw--color_darkGrey = #131313
$cw--color_grey = #282828
$cw--color_lightGrey = #BDBDBD
$cw--color_nearWhite = #E0E0E0
$cw--color_white = #ffffff
$cw--color_honor = #D65F52
$cw--color_human = #E9A844
$cw--color_credit = #B5D054
$cw--color_metal = #56BAF2
$cw--color_crystal = #D36FFF
$cw--color_description = #BBC9DB
$cw--color_science = #4B78BB
$cw--color_tableOdd = #121920
$cw--color_tableEven = #1D232B
