// Global config

// Screen sizes
$cw--size_xxs = 320px
$cw--size_xs  = 480px
$cw--size_s   = 640px
$cw--size_m   = 768px
$cw--size_l   = 960px
$cw--size_xl  = 1280px
$cw--size_xxl  = 1440px
$cw--size_xxxl  = 1600px

// Fonts
$cw--fontSize_xs = 12px
$cw--fontSize_s = 14px
$cw--fontSize_m = 16px
$cw--fontSize_l = 18px
$cw--fontSize_xl = 22px

cw--fontFamily_normal()
  font-family 'Roboto', Arial, sans-serif
cw--fontFamily_cond()
  font-family 'Roboto Condensed', Arial, sans-serif