// Global config

// Screen sizes
$cw--size_xxs = 320px
$cw--size_xs  = 480px
$cw--size_s   = 640px
$cw--size_m   = 768px
$cw--size_l   = 1024px
$cw--size_xl  = 1440px

// Fonts
$cw--fontSize_main      = 16px
$cw--fontSize_blockHead = 18px