@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body
  font-family 'Roboto', Arial, sans-serif;

@import 'colors.styl'

.cw--color_black
  color $cw--color_black

.cw--color_darkGrey
  color $cw--color_darkGrey

.cw--color_grey
  color $cw--color_grey

.cw--color_lightGrey
  color $cw--color_lightGrey

.cw--color_nearWhite
  color $cw--color_nearWhite

.cw--color_white
  color $cw--color_white

.cw--color_honor
  color $cw--color_honor

.cw--color_human
  color $cw--color_human

.cw--color_credits
  color $cw--color_credits

.cw--color_metal
  color $cw--color_metal

.cw--color_crystal
  color $cw--color_crystal

.cw--color_description
  color $cw--color_description

.cw--color_science
  color $cw--color_science

.cw--color_tableOdd
  color $cw--color_tableOdd

.cw--color_tableEven
  color $cw--color_tableEven


@import './button/button.styl'
  