tournament-icon(name)
	.{name}-icon
		background-image url("/img/game/colosseum/" name ".jpg")

tournament-icon('mortal_combat')
tournament-icon('mad_race')
tournament-icon('green_ring')
tournament-icon('fire_dragon')
tournament-icon('extermination')
tournament-icon('bloody_mess')

.colosseum-menu
	display flex
	flex-direction row
	flex-wrap wrap
	width 100%
	height auto
	padding 20px 0 10px
	justify-content space-between
			
	.tournament
		width 131px // 240
		height 160px
		background-repeat no-repeat
		background-position center center
		background-size 131px 160px
		text-align center
		font-weight bold
		margin 10px 7%
		-webkit-filter grayscale(1)
		filter grayscale(1)
		cursor pointer
		
		&.active
			-webkit-filter none
			filter none

		&.disabled
			cursor not-allowed
			-webkit-filter grayscale(1) brightness(0.2)
			filter grayscale(1) brightness(0.2)
	
	.selectedTournament
		display flex
		flex-direction row
		align-items center
		width 250px
		
		.nextTournament
			display flex
			flex-direction row
			
			div
				font-size 14px
				padding-top 3px
			
			time
				margin-left 4px
				font-size 18px
				color $color-metal
		
		.result
			display flex
			flex-direction column
			font-size 12px
			justify-content space-around
			
			.name
				color $color-white
				
			.description
				color $color-metal
	
	.start
		width 187px
		margin 0 0 0 50px
	
	.back
		margin 0 50px 0 0 


.modal
	&.artefact
		position fixed
		z-index 100
		top 50%
		left 50%
		margin -202px 0 0 -200px
		width 403px
		height 297px
		padding 0
		font-size 24px
		font-weight bold
		text-align center
		color #FFFFFF
		border 2px solid #FFFFFF
		background-image none
		background-color #000000
		
		&.green
			border-color #2cc24f
		&.purple
			border-color #c256e1
		&.orange
			border-color #e9a844
		&.blue
			border-color #56baf2
		&.white
			border-color #ebebeb
		&.red
			border-color #d65f52
			
		h2
			padding-top 25px
			
		.resources
			li
				margin-top 25px
				padding-top 70px
				
		.take
			display block
			position absolute
			cursor pointer
			width 181px
			height 40px
			padding-top 10px
			bottom 20px
			left 110px
			color #FFFFFF
			background-image url(/img/game/quests/btn_take.png)
			
			&:hover
				-webkit-filter brightness(1.4)
				filter brightness(1.4)