tournament-icon(name)
	.{name}-icon
		background-image url("/img/game/colosseum/" name ".jpg")

tournament-icon('mortal_combat')
tournament-icon('mad_race')
tournament-icon('green_ring')
tournament-icon('fire_dragon')
tournament-icon('extermination')
tournament-icon('bloody_mess')

.content.building.planet.residential .colosseum-menu
	position absolute
	z-index 4
	top -214px
	right 0
	width 1333px
	height 428px
	padding 3.5px
	background-color #090e14
	
	.cooldown
		display block
		position absolute
		top 310px
		width 100%
		text-align center
		font-size 30px

	.disabled
		-webkit-filter grayscale(1)
		filter grayscale(1)

	.btn-close-horizontal
		display block
		position absolute
		left 590px
		bottom 0px
		width 164px
		height 34px
		cursor pointer
		color #ffffff
		background-image url(/img/game/earth/btn_close.png)
		background-repeat no-repeat
		background-position 0px 0px
		&:hover
			background-position 0px -34px
			
	> ul
		display block
		
		> li
			display inline-block
			width 218px
			height 380px
			background-repeat no-repeat
			background-position center 20px
			text-align center
			font-weight bold

			.resources
				position absolute
				display block
				margin-top 235px
				margin-left 10px
	
	.description
		display block
		position absolute
		margin-top 245px
		margin-left 80px
		width 140px
		height initial
		font-weight normal
		padding 0

	.start
		display block
		position absolute
		cursor pointer
		margin-top 310px
		margin-left 20px
		width 181px
		height 40px
		padding-top 10px
		color #FFFFFF
		font-size 20px
		background-image url(/img/game/quests/btn_take.png)
		
		&:hover
			&:not([disabled])
				-webkit-filter brightness(1.4)
				filter brightness(1.4)
			&.disabled
				-webkit-filter grayscale(1) brightness(1.4)
				filter grayscale(1) brightness(1.4)


.modal
	&.artefact
		position fixed
		z-index 100
		top 50%
		left 50%
		margin -202px 0 0 -200px
		width 403px
		height 297px
		padding 0
		font-size 24px
		font-weight bold
		text-align center
		color #FFFFFF
		border 2px solid #FFFFFF
		background-image none
		background-color #000000
		
		&.green
			border-color #2cc24f
		&.purple
			border-color #c256e1
		&.orange
			border-color #e9a844
		&.blue
			border-color #56baf2
		&.white
			border-color #ebebeb
		&.red
			border-color #d65f52
			
		h2
			padding-top 25px
			
		.resources
			li
				margin-top 25px
				padding-top 70px
				
		.take
			display block
			position absolute
			cursor pointer
			width 181px
			height 40px
			padding-top 10px
			bottom 20px
			left 110px
			color #FFFFFF
			background-image url(/img/game/quests/btn_take.png)
			
			&:hover
				-webkit-filter brightness(1.4)
				filter brightness(1.4)