@import '{}/imports/client/ui/colors'
@import '{}/imports/client/ui/config'

.cw--EarthBattle
  display block
  padding 10px 0

  &__time
    color $cw--color_metal

  &__army
    padding 10px 0
  
  &__armyHead
    font-weight bold
    padding 5px 0

  &__list
    display flex
    flex-wrap wrap
    list-style none

  &__item
    flex-basis 50%
