.content
	.rating
		position relative
		height 435px
		margin-left 124px
		background-color #04080B
		z-index 10
		
		h2
			padding-top 20px
			width 100%
			text-align center

		.data
			display block
			height 355px
			overflow-y auto

		table
			width 100%
			border-collapse collapse

			tr
				height 40px
				
				&:nth-child(odd):not(.header)
					background-color #0B121A
				
				&:nth-child(even)
					background-color #0E1821
					
				&.me
					color #ABC851
				
			td, th
				text-align left
				
				&:nth-child(1)
					width 100px
					padding 12px
					text-align center

				&:nth-child(2)
					width 300px
					
				&:nth-child(3)
					width 400px
					
				&:nth-child(4)
					width 400px
				
	.information.battle
		.description
			ul.enemies
				li
					display block
					color #bf8b38
					font-weight bold
					
					.amount
						color #e0e0e0

	/*.battle
		position relative
		width 1000px
		height 435px
		margin-left 124px
		background-color #04080B
		
		li
			display block
			float left
			width 333px
			height 145px
			cursor pointer
			
			&:hover
				background-color #18202B
		*/	
			
.content.attack
	.items.fleet
		position absolute
		bottom 10px
		right 10px	