@import '{}/imports/client/ui/colors'
@import '{}/imports/client/ui/config'

.cw--Tabs
  display flex
  flex-direction row
  padding 3px 6px 0

  cw--fontFamily_cond()
  font-size $cw--fontSize_m
  font-weight bold

  border-bottom solid 1px #2b6d92
  user-select none

  &__item
    display flex
    padding 6px 16px
    margin 12px 3px 0
    justify-content center
    align-items center

    cursor pointer
    color $cw--color_metal
    background-color $cw--color_tableOdd

    &:not(&_active):hover
      color $cw--color_human

    &_active
      margin-top 3px
      margin-bottom -1px
      color $cw--color_white
      border solid 1px $cw--color_metal
      border-bottom none
      border-image $cw--gradient_metal 1
      background-color $cw--color_tableEven
