.cw--ResourceSingle
  display inline-flex
  height 45px
  justify-content flex-start
  align-items center
  font-size 18px
  font-weight bold

  &__image
    width 45px
    height 45px
    margin-right 10px