@import '{}/imports/client/ui/config'

.cw--ResourceSingle
  display inline-flex
  height 45px
  justify-content flex-start
  align-items center
  margin-left 10px
  font-size $cw--fontSize_l
  font-weight bold

  &__image
    width 45px
    height 45px
    margin-right 10px