.side_menu
	//side-icon('alliance')
	side-icon('chat')

.chat
	position relative
	z-index 2
	margin-left 124px
	padding 3.5px
	height 428px
	background-color #0C131D
	
	.messages
		position relative
		height 338px
		width 1100px
		padding 11px
		overflow-y auto
		overflow-x hidden
		
		li
			position relative
			display block
			
			span
				color #C4ABA1
				
				&:not(.dice)
					cursor pointer
				
				&.me
					color #ABC851
					
				&.dice
					color #3eb5f1
			
			&.more
				cursor pointer
				text-align center
				color #9399b1
			
			&.limit
				text-align center
				color #A15755

			&.remove
				color red

			&.block
				color red
			
			&.add
				color green

			&.unblock
				color green
				
			&.sepukku
				color #ff5441
				
			&.status
				font-style italic
					
			&.admin
				span:not(.dice):not(.me)
					color #C04C3F
					
			&.helper
				span:not(.dice):not(.me)
					color #8D5AA7

			.block
				position absolute
				top 0
				right 10px
				display none
				font-style normal
			
			&:hover
				background-color rgba(255, 255, 255, 0.02)
				.block
					display block
					
	
	form
		height 69px
		
		textarea
			width 445px
			height 62px
			padding 2px
			border 1px solid #1D2D3C
			background-color #090E14
			color #fff
			resize none
			vertical-align top
			font-size 17px
			overflow hidden
			
		input
			width 200px
			height 62px
			padding 2px
			border 1px solid #1D2D3C
			background-color #090E14
			color #fff
			resize none
			vertical-align top
			font-size 17px
			overflow hidden

		[type="submit"]
			width 120px
			height 68px
			padding 2px
			border 1px solid #1D2D3C
			background-color #090E14
			color #5787AF
			vertical-align top
			cursor pointer
			
		ul
			display inline-block
			padding-top 5px
		
		button
			width 200px
			height 58px
			color #C8F909
			border 1px solid #C8F909
			background-color #090E14
			padding 0 15px
			margin-top 6px
			vertical-align top
			cursor pointer
		
	.participants
		float right
		width 160px
		height 338px
		overflow-y auto
		overflow-x hidden
		padding 11px
		text-align right
		
		li
			cursor pointer
			color #777777
			
			&.online
				color #FFFFFF
	
	.addCredits
		cursor pointer	

	#control
		position absolute
		right 0px
		bottom 0px
		height 69px