@keyframes animatePlanetBack {
  from {
    transform rotate(30deg) translateX(0%)
  }
  to {
    transform rotate(30deg) translateX(-50%)
  }
}

.possibleDesync
  display block
  position absolute
  bottom 10px
  left 200px

#map-battle-container
  position absolute
  overflow hidden
  width 100%
  height 100%

#map-battle
  position absolute
  left -50%
  top -50%
  z-index 1
  width 200%
  height 200%
  background-color transparent
  //background-image url(/img/game/cosmomap/back.jpg)
  background-position center center

  .artefactRateTooltip
    font-family 'Roboto', Arial, sans-serif
    color #e9a844
    background none
    border none
    margin 0px
    padding 0px

    &:before
      content none

.map-control-home
  z-index 2
  cursor pointer
  display block
  position absolute
  right 350px
  bottom 10px
  width 62px
  height 62px
  background-image url(/img/game/cosmomap/button_home.png)
  background-repeat no-repeat
  border 0px solid transparent
  border-radius 9px
  
  &:hover
    background-image url(/img/game/cosmomap/button_home_active.png)


.reptiles
  color $color-honor
  
.humans
  color $color-ggk
  
.attack-menu .fleet
  cursor pointer

.cw--SpaceAttackMenu__reinforcement
  padding 10px 10px 0 10px

.attack-menu
  display none
  position relative
  width 1420px
  height 560px
  background-color #090e14
  font-size 16px
  font-weight bold
  flex-wrap wrap

  .unitsAdditionalControl
    width 150px
    margin 10px auto
    display flex
    flex-direction column
    align-items center
    justify-content space-around

  .btn-add
    cursor pointer
    position absolute
    bottom 20px
    left 80px
    font-size 16px
    text-align center
    padding-top 14px
    padding-bottom 14px
    width 250px
    background-color #000000
    border 2px solid #91b935
    color #91b935

  .planets
    display flex
    flex-wrap wrap
    width 100%
    height 176px
    overflow auto
    font-size 12px
    color #e8e8e8
    
    a.planet
      &.empty
        -webkit-filter grayscale(1)
        filter grayscale(1)

      &.notAvaliable
        -webkit-filter grayscale(1) brightness(0.5)
        filter grayscale(1) brightness(0.5)

      &.notAvaliable
        &:hover
          -webkit-filter none
          filter none
          color $color-ggk

      &.disabled
        -webkit-filter grayscale(0.5) brightness(0.3)
        filter grayscale(0.5) brightness(0.3)
      
    .home
      color $color-ggk
      
    .locked
      color #4a4a4a
      
    .active
      color #e9a844
      
  .departure
    display flex
    flex-wrap wrap
    width 640px
    max-width 100%

  .squads
    display flex
    width 430px
    height 100px
    flex-direction column
    flex-wrap wrap
    justify-content space-between
    margin 10px 7px
    
    .squad
      display flex
      width 118px
      height 26px
      font-size 11px
      align-items center
      justify-content space-between
      cursor pointer
      color $color-metal
      margin auto 7px
      
      &.active
        outline 2px solid $color-metal
        
      &.noPremium
        -webkit-filter grayscale(1) brightness(0.6)
        filter grayscale(1) brightness(0.6)
      
      img
        width 26px
        height 26px
        
      span
        position relative
        display flex
        width 89px
        height 26px
        padding 3px
        box-sizing border-box
        flex-wrap nowrap
        white-space nowrap
        align-items center
        overflow hidden
        background-color #232323
        
      .edit
        position absolute
        right 3px
        top 2.5px
        display inline-block
        width 21px
        height 21px
        vertical-align middle
        background-image url(/img/game/edit.png)
        background-repeat no-repeat
        background-color transparent
        border none
        
        &:hover
          background-image url(/img/game/edit_a.png)
    
    .control
      display flex
      flex-direction column
      justify-content space-around
      width 26px
      height 100px
      margin 0 8px
      -webkit-filter grayscale(1) brightness(0.6)
      filter grayscale(1) brightness(0.6)
      
      &.active
        -webkit-filter none
        filter none
      
      
      button
        width 26px
        height 26px
        background-repeat no-repeat
        background-color transparent
        border none

      .save
        background-image url(/img/game/cosmomap/save.png)
        
      .link
        -webkit-filter grayscale(1) brightness(0.6)
        filter grayscale(1) brightness(0.6)
        background-image url(/img/game/cosmomap/link.png)
        
      .remove
        background-image url(/img/game/cosmomap/remove.png)

  .target
    display flex
    flex-wrap wrap
    justify-content space-around
    width 320px
    padding 12px 5px

    ul
      position relative
      margin-top 5px
      text-align left
      font-weight bold
      font-size 18px
      
      li
        position relative
        display block
      
    p 
      font-weight normal
      color $color-metal
      text-align center
      padding 10px
      margin auto
      width 100%
      
    span
      color $color-white
    

.btn-history
.btn-selection
.btn-mutual-space
  cursor pointer
  display block
  position absolute
  z-index 2
  bottom 10px
  font-size 16px
  text-align center
  text-decoration none
  padding-top 14px
  padding-bottom 14px
  width 180px
  background-color #000000
  border 2px solid #80BAEC
  color #80BAEC
  
.btn-history
  left 10px
  
.btn-selection
  left 200px

.btn-mutual-space
  left 380px


.btn-back
  display block
  position absolute
  z-index 4
  left 640px
  bottom 0px
  width 164px
  height 34px
  cursor pointer
  color #ffffff
  background-image url(/img/game/earth/btn_close.png)
  background-repeat no-repeat
  background-position 0px 0px
  &:hover
    background-position 0px -34px

.history-item
  display flex
  position absolute
  z-index 3
  width 100%
  height 100%
  font-weight bold
  font-size 16px
  background-size 100% 100%
  background-repeat no-repeat
  background-image url(/img/game/cosmomap/back_history.jpg)
  
  .result
    margin-top 10px
    width 100%
    font-size 18px
    text-align center
    text-transform uppercase
    
    &.tie
      color #E4E4E4
      
    &.victory
      color #CEF861
      
    &.defeat
      color #FB6153

  .user-army
    position absolute
    top 0px
    left 0px
    text-align left
    background-repeat no-repeat
    background-image url(/img/game/cosmomap/ico_humans.png)
    background-position 90px 5px
    
    p
      padding-top 10px
      padding-left 150px
      
    tr
      &:not(.header)
        background -moz-linear-gradient(left,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0) 100%)
        background -webkit-linear-gradient(left,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 50%,rgba(0,0,0,0) 100%)
        background linear-gradient(to right,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 50%,rgba(0,0,0,0) 100%)

  .enemy-army
    position absolute
    top 0px
    right 0px
    text-align right
    background-repeat no-repeat
    background-image url(/img/game/cosmomap/ico_rept.png)
    background-position 270px 5px
    
    p
      padding-top 10px
      padding-right 150px
      
    tr
      &:not(.header)
        background -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.8) 100%)
        background -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 50%,rgba(0,0,0,0.8) 100%)
        background linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 50%,rgba(0,0,0,0.8) 100%)
        
  table
    width 400px
    border-collapse collapse
  
    tr
      display block
      margin-top 4px
      
    td
      padding 5px
    
    .name
      width 150px
      
    .count
      width 125px
      
  .resources,
  .artefacts,
  .cards
    position relative
    display flex
    left 450px
    width 570px
    height 95px
    margin-top 5px
    padding-top 10px
    text-align center
    background -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 25%, rgba(0,0,0,0.8) 75%, rgba(0,0,0,0) 100%)
    background -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 25%, rgba(0,0,0,0.8) 75%, rgba(0,0,0,0) 100%)
    background linear-gradient(to right,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 25%, rgba(0,0,0,0.8) 75%, rgba(0,0,0,0) 100%)
  
  .resources
    margin-top 22px

  .artefacts
    li
      display inline-block
      width 120px
      height 20px
      padding-top 70px
      background-repeat no-repeat
      background-position top center
      text-align center
      vertical-align top

.cw--CosmosAttackMenu__planet
  width 60px

.cw--CosmosAttackMenu__close
  position absolute
  right 10px
  top 10px

.cw--CosmosAttackMenu__action
  width 145px
  margin-top auto