.content
  .overlay
    &.research
      background-image url(/img/game/Research/back.jpg)
      
.overlay_wrap 
  > .overlay.Evolution
    background-image url(/img/game/Research/Evolution/back.jpg)

.requirements
  .research
    color #77A4E8
