.content
  .overlay
    &.research
      background-image url(/img/game/Research/back.jpg)
      
.overlay_wrap 
  > .overlay.Evolution
    background-image url(/img/game/Research/Evolution/back.jpg)

// TODO: Удалить: требуемые ресурсы для исследований
// Перенесены в /imports/client/ui/Resource/Resource.styl
.requirements
  .research
    color #77A4E8
    
.items li
  bottom-icon('research', 'fleetups', 'gammabetaalpha')
  bottom-icon('research', 'fleetups', 'royalwasphornet')
  bottom-icon('research', 'fleetups', 'mirageghostphantom')
  bottom-icon('research', 'fleetups', 'frigatesupportbattle')
  bottom-icon('research', 'fleetups', 'truckctruckbtrucka')
  bottom-icon('research', 'fleetups', 'cruiserlinearnonlinear')
  bottom-icon('research', 'fleetups', 'battleshipquadhex')
  bottom-icon('research', 'fleetups', 'carrierbaseprojectx')
  bottom-icon('research', 'fleetups', 'dreadnoughtbeamplasma')
  bottom-icon('research', 'fleetups', 'railgunsniperartillery')
  bottom-icon('research', 'fleetups', 'reaperancientmythical')
  bottom-icon('research', 'fleetups', 'flagshiproyalimperial')