.content
	.overlay
		&.research
			background-image url(/img/game/research/back.jpg)
			
.overlay_wrap 
	> .overlay.evolution
		background-image url(/img/game/research/evolution/back.jpg)

.requirements
	.research
		color #77A4E8

	requirements-icon('research', 'evolution', 'energy')
	requirements-icon('research', 'evolution', 'alloy')
	requirements-icon('research', 'evolution', 'science')
	requirements-icon('research', 'evolution', 'ikea')
	requirements-icon('research', 'evolution', 'drill')
	requirements-icon('research', 'evolution', 'crystallization')
	requirements-icon('research', 'evolution', 'engineering')
	requirements-icon('research', 'evolution', 'animalworld')
	requirements-icon('research', 'evolution', 'hyperdrive')
	requirements-icon('research', 'evolution', 'nanotechnology')
	requirements-icon('research', 'evolution', 'converter')
	requirements-icon('research', 'evolution', 'doomsdaysizing')
		
.items li
	bottom-icon('research', 'evolution', 'energy')
	bottom-icon('research', 'evolution', 'alloy')
	bottom-icon('research', 'evolution', 'science')
	bottom-icon('research', 'evolution', 'ikea')
	bottom-icon('research', 'evolution', 'drill')
	bottom-icon('research', 'evolution', 'crystallization')
	bottom-icon('research', 'evolution', 'engineering')
	bottom-icon('research', 'evolution', 'animalworld')
	bottom-icon('research', 'evolution', 'hyperdrive')
	bottom-icon('research', 'evolution', 'nanotechnology')
	bottom-icon('research', 'evolution', 'converter')
	bottom-icon('research', 'evolution', 'doomsdaysizing')

	bottom-icon('research', 'fleetups', 'gammabetaalpha')
	bottom-icon('research', 'fleetups', 'royalwasphornet')
	bottom-icon('research', 'fleetups', 'mirageghostphantom')
	bottom-icon('research', 'fleetups', 'frigatesupportbattle')
	bottom-icon('research', 'fleetups', 'truckctruckbtrucka')
	bottom-icon('research', 'fleetups', 'cruiserlinearnonlinear')
	bottom-icon('research', 'fleetups', 'battleshipquadhex')
	bottom-icon('research', 'fleetups', 'carrierbaseprojectx')
	bottom-icon('research', 'fleetups', 'dreadnoughtbeamplasma')
	bottom-icon('research', 'fleetups', 'railgunsniperartillery')
	bottom-icon('research', 'fleetups', 'reaperancientmythical')
	bottom-icon('research', 'fleetups', 'flagshiproyalimperial')