.cw--PuzzleChat
  display flex
  flex-direction row
  align-items center

  &__lock
    margin 10px

  &__reward
    width 60px
    text-align center
    margin 10px

    .cw--ResourceSingle__image
      margin 0