.cw--PuzzleChat
  display flex
  flex-direction row
  align-items center

  &__status
    display flex
    flex-direction column
    align-items center
    margin 10px


  &__lock
    margin 10px

  &__reward
    width 60px
    text-align center
    margin 10px

    .cw--ResourceSingle__image
      margin 0