@import '{}/imports/client/ui/colors'
@import '{}/imports/client/ui/config'

.cw--EarthReinforcement
  display block
  width 320px
  box-sizing border-box
  padding 10px 16px 16px
  background-color $cw--color_darkGrey

  &__header
    margin-bottom 20px


  &__units
    display flex
    flex-wrap wrap
    margin 10px 0
    justify-content space-between

  &__unit
    display flex
    width calc(50% - 10px)
    margin 5px 0
    align-items center
    justify-content space-between

    &_passive
      filter grayscale(1) brightness(.4)
      &:hover
        filter grayscale(.5)

    &:hover
      filter brightness(1.2)


  &__unitIcon
    display flex
    align-items flex-end
    width 50px
    height @width

    background-position center
    background-size cover
    cursor pointer

  &__unitReserve
    width 100%
    padding 2px
    margin-top auto

    font-size $cw--fontSize_xs
    text-align center
    color $cw--color_lightGrey
    background-color alpha($cw--color_black, 0.5)

  &__unitCount
    width 70px


  &__actions
    display flex
    margin 15px 0
    justify-content space-between

  &__reward
    margin-top 15px
    color $cw--color_description

  &__honor
    display flex
    justify-content center
    align-items center
    margin-top 5px

    font-size 24px
    font-weight bold
    color $cw--color_honor

  &__honorIcon
    display block
    width 40px
    height @width
    margin-right 5px
    margin-left -20px

    background-position center
    background-size 100%
    background-repeat no-repeat
    background-image url(/img/game/Resource/Base/Honor/icon.svg)
