@import '{}/imports/client/ui/colors.styl'

.cw--PageIndex
  display block

  &__intro
    color $cw--color_white
    line-height 28px
    max-width 900px
    font-size 24px
    margin auto
    text-align center