@import '{}/imports/client/ui/colors'
@import '{}/imports/client/ui/config'
@import '{}/imports/client/ui/responsive'

.cw--SpaceHistoryBattle
  position relative
  display block
  width 620px
  padding 15px

  cw--fontFamily_cond()
  font-size $cw--fontSize_m

  +media(null, $cw--size_s)
    width auto

  &__main
    display flex
    flex-direction column
    height 100%

  &__fleets
    display block

  &__fleet
    display flex
    margin-bottom 25px
    justify-content space-between
  
    +media(null, $cw--size_s)
      flex-direction column

  &__fleetStart
  &__fleetLosses
    flex-basis calc(50% - 10px)
    flex-shrink 0

  &__fleetHead
    display flex
    margin-bottom 10px
    font-size $cw--fontSize_l
    color $cw--color_lightGrey

    &_reptiles
      color $cw--color_honor

    &_user
      color $cw--color_metal

  &__fleetPower
    margin-left auto
    +media($cw--size_s, null)
      width 50%

  &__units
    height 170px
    align-content flex-start

  &__profits
    display flex
    width 320px
    margin auto 0 0 auto
    justify-content flex-end

  &__profit
    flex-basis 50%

  &__profitHead
    margin-bottom 10px