.side_menu
	side-icon('fleet')
	side-icon('heroes')
	side-icon('ground')
	side-icon('defense')


.content
	.overlay.army
		&.fleet
			background-image url(/img/game/unit/army/fleet/back.jpg)

		&.defense
			background-image url(/img/game/unit/army/defense/back.jpg)

		&.ground
			background-image url(/img/game/unit/army/ground/back.jpg)
	
	.overlay.reptiles
		background-image url(/img/game/unit/reptiles/back.jpg)

bottom-side-icon('unit', 'army', 'ground', 'fathers')
bottom-side-icon('unit', 'army', 'ground', 'horizontalbarman')
bottom-side-icon('unit', 'army', 'ground', 'psimans')
bottom-side-icon('unit', 'army', 'ground', 'agmogedcar')
bottom-side-icon('unit', 'army', 'ground', 'easytank')
bottom-side-icon('unit', 'army', 'ground', 'mothertank')
bottom-side-icon('unit', 'army', 'ground', 'prickartillery')
bottom-side-icon('unit', 'army', 'ground', 'fast')
bottom-side-icon('unit', 'army', 'ground', 'grandmother')
bottom-side-icon('unit', 'army', 'ground', 'relax')

bottom-side-icon('unit', 'army', 'heroes', 'hbhr')
bottom-side-icon('unit', 'army', 'heroes', 'psm')
bottom-side-icon('unit', 'army', 'heroes', 'lost')
bottom-side-icon('unit', 'army', 'heroes', 'tilps')
bottom-side-icon('unit', 'army', 'heroes', 'vaha')

bottom-side-icon('unit', 'army', 'defense', 'bomb')
bottom-side-icon('unit', 'army', 'defense', 'ionbomb')
bottom-side-icon('unit', 'army', 'defense', 'turret')
bottom-side-icon('unit', 'army', 'defense', 'laserturret')
bottom-side-icon('unit', 'army', 'defense', 'snipergun')
bottom-side-icon('unit', 'army', 'defense', 'railcannon')
bottom-side-icon('unit', 'army', 'defense', 'plasmakiller')
bottom-side-icon('unit', 'army', 'defense', 'tyrant')
bottom-side-icon('unit', 'army', 'defense', 'crystalgun')
bottom-side-icon('unit', 'army', 'defense', 'trilinear')
bottom-side-icon('unit', 'army', 'defense', 'deforbital')
bottom-side-icon('unit', 'army', 'defense', 'doomsdaygun')

bottom-side-icon('unit', 'army', 'fleet', 'gammadrone')
bottom-side-icon('unit', 'army', 'fleet', 'wasp')
bottom-side-icon('unit', 'army', 'fleet', 'mirage')
bottom-side-icon('unit', 'army', 'fleet', 'frigate')
bottom-side-icon('unit', 'army', 'fleet', 'truckc')
bottom-side-icon('unit', 'army', 'fleet', 'cruiser')
bottom-side-icon('unit', 'army', 'fleet', 'battleship')
bottom-side-icon('unit', 'army', 'fleet', 'carrier')
bottom-side-icon('unit', 'army', 'fleet', 'dreadnought')
bottom-side-icon('unit', 'army', 'fleet', 'railgun')
bottom-side-icon('unit', 'army', 'fleet', 'reaper')
bottom-side-icon('unit', 'army', 'fleet', 'flagship')

bottom-side-icon('unit', 'reptiles', 'ground', 'striker')
bottom-side-icon('unit', 'reptiles', 'ground', 'ripper')
bottom-side-icon('unit', 'reptiles', 'ground', 'horror')
bottom-side-icon('unit', 'reptiles', 'ground', 'slider')
bottom-side-icon('unit', 'reptiles', 'ground', 'breaker')
bottom-side-icon('unit', 'reptiles', 'ground', 'crusher')
bottom-side-icon('unit', 'reptiles', 'ground', 'geccon')
bottom-side-icon('unit', 'reptiles', 'ground', 'amfizben')
bottom-side-icon('unit', 'reptiles', 'ground', 'amphibian')
bottom-side-icon('unit', 'reptiles', 'ground', 'chipping')
bottom-side-icon('unit', 'reptiles', 'ground', 'toofucking')
bottom-side-icon('unit', 'reptiles', 'ground', 'patron')

bottom-side-icon('unit', 'reptiles', 'fleet', 'sphero')
bottom-side-icon('unit', 'reptiles', 'fleet', 'blade')
bottom-side-icon('unit', 'reptiles', 'fleet', 'lacertian')
bottom-side-icon('unit', 'reptiles', 'fleet', 'wyvern')
bottom-side-icon('unit', 'reptiles', 'fleet', 'trioniks')
bottom-side-icon('unit', 'reptiles', 'fleet', 'dragon')
bottom-side-icon('unit', 'reptiles', 'fleet', 'hydra')
bottom-side-icon('unit', 'reptiles', 'fleet', 'armadillo')
bottom-side-icon('unit', 'reptiles', 'fleet', 'prism')
bottom-side-icon('unit', 'reptiles', 'fleet', 'octopus')
bottom-side-icon('unit', 'reptiles', 'fleet', 'godzilla')
bottom-side-icon('unit', 'reptiles', 'fleet', 'shadow')

bottom-side-icon('unit', 'reptiles', 'heroes', 'general')
bottom-side-icon('unit', 'reptiles', 'heroes', 'grandpsi')
bottom-side-icon('unit', 'reptiles', 'heroes', 'commandor')