.repairWrecks
  box-sizing border-box
  width 360px
  padding 10px
  background-color alpha(#000, 0.9)

  > .icon
    position relative
    float left
    padding 10px

    .count
      position absolute
      display block
      z-index 1
      top 16px
      left 10px
      padding 5px
      text-align right
      background linear-gradient(to right, #000 0%, rgba(0,0,0,0) 60%)
      font-size 14px
  
  > .resources
    padding 10px 0

  > .cw--button
    background #000000
    border 1px solid
    margin 10px auto