.content
	.rating
		position relative
		height 435px
		margin-left 124px
		background-color #04080B
		z-index 10

		.button
			cursor pointer
			display block
			position absolute
			width 40px
			height 40px
			background-repeat no-repeat
			background-position center

		.search
			left 44px
			background-image url("/img/game/search.png")

		.returnToUser
			left 0px
			background-image url("/img/game/my_position.png")
			
		input
			padding 10px 7px
			border 2px solid #006382
			background-color #C0C0C0
			border-radius 5px
			box-shadow inset 2px 2px 2px #000
			color #000000
			font-weight bold
			font-size 14px
			position absolute
			left 88px

		h2
			padding-top 20px
			width 100%
			text-align center

		.data
			display block
			height 355px
			overflow-y auto

		table
			width 100%
			border-collapse collapse

			tr
				height 40px
				
				&:nth-child(odd):not(.header):not(.selectedUser)
					background-color #0B121A
				
				&:nth-child(even)
					background-color #0E1821
				
				&.selectedUser
					color #0081e5
					background-color #000015
					border-left: 10px solid #56bbf3

				&.me
					color #ABC851
				
			td, th
				text-align left
				
				&:nth-child(1)
					width 100px
					padding 12px
					text-align center

				&:nth-child(2)
					width 300px
					
				&:nth-child(3)
					width 400px
					
				&:nth-child(4)
					width 400px
				
				a
					text-decoration none

				img
					margin-left 5px