.content
	.rating
		position relative
		height 435px
		margin-left 124px
		background-color #04080B
		z-index 10

		.show_detail_statistic
			img
				width 30px
				height 30px

		.button
			cursor pointer
			display block
			position absolute
			width 40px
			height 40px
			background-repeat no-repeat
			background-position center
			-webkit-filter grayscale(1)
			filter grayscale(1)

			&:hover
				-webkit-filter brightness(1.4)
				filter brightness(1.4)

			&.active
				-webkit-filter brightness(1)
				filter brightness(1)

		.search
			left 44px
			background-image url("/img/game/search.png")

		.returnToMe
			left 0px
			background-image url("/img/game/my_position.png")
			
		input
			padding 10px 7px
			border 2px solid #006382
			background-color #C0C0C0
			border-radius 5px
			box-shadow inset 2px 2px 2px #000
			color #000000
			font-weight bold
			font-size 14px
			position absolute
			left 88px

		h2
			padding-top 20px
			width 100%
			text-align center

		.data
			display block
			height 355px
			overflow-y auto

		table
			width 100%
			border-collapse collapse
			position relative

			tr
				height 40px
				
				&:nth-child(odd):not(.header):not(.selectedUser)
					background-color #0B121A
				
				&:nth-child(even)
					background-color #0E1821
				
				&.selectedUser
					color #0081e5
					background-color #000015

					&:after
						position absolute
						left 0
						content " "
						height 40px
						width 5px
						background-color #56bbf3

				&.me
					color #ABC851
				
			td, th
				text-align left
				
				&:nth-child(1)
					width 100px
					padding 12px
					text-align center

				&:nth-child(2)
					width 300px
					
				&:nth-child(3)
					width 400px
					
				&:nth-child(4)
					width 400px
				
				a
					text-decoration none

				img
					margin-left 5px


.detailStatistic
	display block
	position fixed
	z-index 100
	top 50%
	left 50%
	transform translate(-50%, -50%)
	background-image none
	background-color #13161b
	width 560px
	transform translate(-50%, -200px)
	background-color #030303
	font-size 0

	.close
		right -30px
		top -30px
		cursor pointer
		display block
		position absolute
		z-index 4
		width 30px
		height 30px
		background-image url(/img/game/cosmomap/button_close.png)
		background-repeat no-repeat
	
		&:hover
			background-image url(/img/game/cosmomap/button_close_active.png)

	.tabWar
	.tabDevelopment
	.tabConsul
	.tabAnother
		display inline-block
		cursor pointer
		width 25%
		height 30px
		padding-top 10px
		background-color #13161b
		text-align center
		font-size 14px
		font-weight bold
		color #e8e8e8
		margin 0px
		
		&.active
			background-color #292f3b
			color #56baf2
		
		&:hover
			-webkit-filter brightness(1.4)
			filter brightness(1.4)
		
	.development
	.consul
	.war
	.another
		padding 50px 10px 10px 10px
		font-weight bold
		font-size 14px
		color #888888
	
	.consul
	.war
	.another
		display none