@import '{}/imports/client/ui/config'
@import '{}/imports/client/ui/colors'

.cw--Unit
  font-size 14px
  width 720px
  display flex
  flex-direction column
  margin auto
  
  &__header
    cw--fontFamily_cond()
    font-size $cw--fontSize_l
    background-color $cw--color_black
    padding-left 14px
    flex-grow 0
    flex-basis 33px
    font-weight bold
    display flex

  &__headerLevel
  &__headerControls
  &__headerTitle
    margin auto    

  &__headerLevel
  &__headerControls
    flex-grow 0
    flex-basis 20%

  &__headerLevel
    color $cw--color_description
    white-space nowrap

  &__headerTitle
    flex-basis 60%
    text-align center
    flex-grow 1

  &__headerControls
    display flex
    justify-content flex-end

  &__headerIcon
    margin auto 6px

  &__levelCount
    color $cw--color_metal

  &__info
    cw--fontFamily_cond()
    display block
    height 100px
    overflow hidden
    background-color alpha($cw--color_black, .4)
  &__infoWrap
    height 100px
    display flex
    padding-left 14px
  &__info_hidden
    display none

  &__mainPic
    flex-basis 75px
    flex-grow 0
    margin auto
    padding-right 8px
  &__mainPicImage
    width 75px
    height auto
    display block
  &__description
    color $cw--color_description
    padding-right 20px
    height 85px
    margin auto
    text-align justify
    overflow hidden

  &__mainField
    flex-grow 1
    flex-basis 380px
    display flex
    flex-direction row
  &__panel
    cw--fontFamily_cond()
    padding 14px
    flex-basis 460px
    flex-grow 0
    display flex
    flex-direction column
    font-weight bold
    
  &__price
    flex-basis 120px
    padding 6px 0
    border-top solid 1px $cw--color_grey
    margin-top auto
    box-sizing border-box
  &__priceHead
    color $cw--color_human
    padding-bottom 4px

  &__actions
    flex-basis auto
    padding-top 6px
    border-top solid 1px $cw--color_grey
    margin 0
    flex-shrink 0
    display flex
  &__action
    flex-basis 170px
    width 170px
    display flex
    flex-direction column
    justify-content flex-end
    margin auto 15px 0 0
  
  &__actionAmount
    display flex
    padding-bottom 8px
    justify-content space-between

  &__actionSetMax
    flex-grow 0
    flex-shrink 0
  
  &__actionAmountCount
    flex-basis auto
    flex-grow 1
    margin-left 6px
    width 107px
    box-sizing border-box
    height 25px
    font-size $cw--fontSize_m

  &__actionStatus
    height 22px
    padding-top 3px
    padding-bottom 8px
    color $cw--color_human
    font-size $cw--fontSize_m

  &__actionCount
    height 22px
    padding-top 3px
    padding-bottom 8px
    color $cw--color_white
    font-size $cw--fontSize_m

  &__require
    background-color alpha($cw--color_black, .7)
    flex-basis 260px
    flex-grow 0