unit-icon($type, $side, $group, $name)
  &_{$name}
    background-image url(/img/game/$type/$side/$group/i/$name.png)

.cw--UnitIcon
  unit-icon('unit', 'army', 'ground', 'fathers')
  unit-icon('unit', 'army', 'ground', 'horizontalbarman')
  unit-icon('unit', 'army', 'ground', 'psimans')
  unit-icon('unit', 'army', 'ground', 'lost')
  unit-icon('unit', 'army', 'ground', 'agmogedcar')
  unit-icon('unit', 'army', 'ground', 'easytank')
  unit-icon('unit', 'army', 'ground', 'mothertank')
  unit-icon('unit', 'army', 'ground', 'hbhr')
  unit-icon('unit', 'army', 'ground', 'fast')
  unit-icon('unit', 'army', 'ground', 'grandmother')
  unit-icon('unit', 'army', 'ground', 'prickartillery')
  unit-icon('unit', 'army', 'ground', 'relax')

  unit-icon('unit', 'army', 'heroes', 'psm')
  unit-icon('unit', 'army', 'heroes', 'tilps')
  unit-icon('unit', 'army', 'heroes', 'vaha')

  unit-icon('unit', 'army', 'defense', 'bomb')
  unit-icon('unit', 'army', 'defense', 'ionbomb')
  unit-icon('unit', 'army', 'defense', 'turret')
  unit-icon('unit', 'army', 'defense', 'laserturret')
  unit-icon('unit', 'army', 'defense', 'snipergun')
  unit-icon('unit', 'army', 'defense', 'railcannon')
  unit-icon('unit', 'army', 'defense', 'plasmakiller')
  unit-icon('unit', 'army', 'defense', 'tyrant')
  unit-icon('unit', 'army', 'defense', 'crystalgun')
  unit-icon('unit', 'army', 'defense', 'trilinear')
  unit-icon('unit', 'army', 'defense', 'deforbital')
  unit-icon('unit', 'army', 'defense', 'doomsdaygun')

  unit-icon('unit', 'army', 'fleet', 'gammadrone')
  unit-icon('unit', 'army', 'fleet', 'wasp')
  unit-icon('unit', 'army', 'fleet', 'mirage')
  unit-icon('unit', 'army', 'fleet', 'frigate')
  unit-icon('unit', 'army', 'fleet', 'truckc')
  unit-icon('unit', 'army', 'fleet', 'cruiser')
  unit-icon('unit', 'army', 'fleet', 'battleship')
  unit-icon('unit', 'army', 'fleet', 'carrier')
  unit-icon('unit', 'army', 'fleet', 'dreadnought')
  unit-icon('unit', 'army', 'fleet', 'railgun')
  unit-icon('unit', 'army', 'fleet', 'reaper')
  unit-icon('unit', 'army', 'fleet', 'flagship')

  unit-icon('unit', 'reptiles', 'ground', 'striker')
  unit-icon('unit', 'reptiles', 'ground', 'ripper')
  unit-icon('unit', 'reptiles', 'ground', 'horror')
  unit-icon('unit', 'reptiles', 'ground', 'slider')
  unit-icon('unit', 'reptiles', 'ground', 'breaker')
  unit-icon('unit', 'reptiles', 'ground', 'crusher')
  unit-icon('unit', 'reptiles', 'ground', 'geccon')
  unit-icon('unit', 'reptiles', 'ground', 'amfizben')
  unit-icon('unit', 'reptiles', 'ground', 'amphibian')
  unit-icon('unit', 'reptiles', 'ground', 'chipping')
  unit-icon('unit', 'reptiles', 'ground', 'toofucking')
  unit-icon('unit', 'reptiles', 'ground', 'patron')

  unit-icon('unit', 'reptiles', 'fleet', 'sphero')
  unit-icon('unit', 'reptiles', 'fleet', 'blade')
  unit-icon('unit', 'reptiles', 'fleet', 'lacertian')
  unit-icon('unit', 'reptiles', 'fleet', 'wyvern')
  unit-icon('unit', 'reptiles', 'fleet', 'trioniks')
  unit-icon('unit', 'reptiles', 'fleet', 'dragon')
  unit-icon('unit', 'reptiles', 'fleet', 'hydra')
  unit-icon('unit', 'reptiles', 'fleet', 'armadillo')
  unit-icon('unit', 'reptiles', 'fleet', 'prism')
  unit-icon('unit', 'reptiles', 'fleet', 'octopus')
  unit-icon('unit', 'reptiles', 'fleet', 'godzilla')
  unit-icon('unit', 'reptiles', 'fleet', 'shadow')

  unit-icon('unit', 'reptiles', 'heroes', 'general')
  unit-icon('unit', 'reptiles', 'heroes', 'grandpsi')
  unit-icon('unit', 'reptiles', 'heroes', 'commandor')