@import '{}/imports/client/ui/colors'

.cw--ResourcePrice
  display flex
  flex-direction row
  flex-wrap wrap
  
  &__time
    color $cw--color_lightGrey
    flex-basis 100%
    padding-bottom 6px
  &__timeCount
    color $cw--color_white
  &__item
    width 60px
    white-space nowrap
    margin-right 12px
    font-size 12px
    text-decoration none
  &__itemArtifact
    background-image url(/img/game/Resource/Artifacts.svg)
    &:hover
      background-image url(/img/game/Resource/Artifacts_active.svg)