@import '{}/imports/client/ui/colors'

.cw--ResourcePrice
  display flex
  flex-direction row
  flex-wrap wrap
  font-size 12px
  
  &__time
    color $cw--color_lightGrey
    flex-basis 100%
    padding-bottom 6px
  &__timeCount
    color $cw--color_white
  &__item
    position relative
    width 60px
    white-space nowrap
    margin-right 12px
    text-decoration none
  &__item:nth-last-child(1)
    margin-right 0

  &__itemNeed
    position absolute
    top 8px
    left -3px
    display block
    width 30px
    height 30px

    background-image url(/img/game/attention.svg)
    background-repeat no-repeat
    background-position center
    background-size 100%

  &__itemArtifact
    background-image url(/img/game/Resource/Artifacts.svg)
    &:hover
      background-image url(/img/game/Resource/Artifacts_active.svg)