@import '{}/imports/client/ui/colors'

.cw--ResourcePrice
  display flex
  flex-direction row
  flex-wrap wrap
  
  &__time
    color $cw--color_lightGrey
    flex-basis 100%
    padding-bottom 6px
  &__timeCount
    color $cw--color_white
  &__item
    width 70px
    margin-right 12px
    font-size 12px